/* Style class selected */

.selected {
  @include box-shadow(0px, 0px, 6px ,3px,#fff);
  a {
    color: $green-color;
  }
}

.top-news {
  display: none;
  &:first-child {
    display: block;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.background-selected {
 
}
