﻿<br />
<br />
<div class="col-lg-3">
    <section class="panel">
        <header class="panel-heading">{{UserInfo.Domain}} uses xxx services as follows: {{UserInfo.CreatedDate}} </header>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">SITE NAME</label>
                    <div class="col-sm-5">
                       <p class="form-control-static">{{UserInfo.Domain}}</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">CERTIFICATE STATUS</label>
                    <div class="col-sm-5">
                       <p class="form-control-static">{{UserInfo.SealStatus}}({{UserInfo.CreatedDate}} to {{UserInfo.ExpireDate}})</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">CERTIFICATE STATUS</label>
                    <div class="col-sm-5">
                       <p class="form-control-static">{{UserInfo.SealType}}</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">COMPANY</label>
                    <div class="col-sm-5">
                       <p class="form-control-static">{{UserInfo.Company}}  <img src="/Brazil-Flag-icon.png" /></p>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">ADDRESS</label>
                    <div class="col-sm-5">
                       <p class="form-control-static">{{UserInfo.Address}}</p>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
