﻿@model Artist


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ArtistId)
    @Html.TextBoxFor(m => m.Name)

    <input type="submit" value="Save" />
}