/* Style header */

.main-header {
  @include size(100%, 60px);
  .info-weather {
    line-height: 60px;
    color: $base-font-color;
  }
}
.info-weather {
  .weather{
    background:$green-color;
    padding:10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
  }
}
