/*Reset.css*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS and IE text size adjust after device orientation change,
*    without disabling user zoom.
*/
html {
font-family: sans-serif; /* 1 */
-ms-text-size-adjust: 100%; /* 2 */
-webkit-text-size-adjust: 100%; /* 2 */
}
/**
* Remove default margin.
*/
body {
margin: 0;
}
/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
display: block;
}
/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
display: inline-block; /* 1 */
vertical-align: baseline; /* 2 */
}
/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
display: none;
height: 0;
}
/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
[hidden],
template {
display: none;
}
/* Links
========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a {
background-color: transparent;
text-decoration: none;
}
/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
a:active,
a:hover {
outline: 0;
}
/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
border-bottom: 1px dotted;
}
/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
font-weight: bold;
}
/**
* Address styling not present in Safari and Chrome.
*/
dfn {
font-style: italic;
}
/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
font-size: 2em;
margin: 0.67em 0;
}
/**
* Address styling not present in IE 8/9.
*/
mark {
background: #ff0;
color: #000;
}
/**
* Address inconsistent and variable font size in all browsers.
*/
small {
font-size: 80%;
}
/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sup {
top: -0.5em;
}
sub {
bottom: -0.25em;
}
/* Embedded content
========================================================================== */
/**
* Remove border when inside `a` element in IE 8/9/10.
*/
img {
border: 0;
}
/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
overflow: hidden;
}
/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
margin: 1em 40px;
}
/**
* Address differences between Firefox and other browsers.
*/
hr {
box-sizing: content-box;
height: 0;
}
/**
* Contain overflow in all browsers.
*/
pre {
overflow: auto;
}
/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
font-family: monospace, monospace;
font-size: 1em;
}
/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
color: inherit; /* 1 */
font: inherit; /* 2 */
margin: 0; /* 3 */
}
/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
overflow: visible;
}
/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
text-transform: none;
}
/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
-webkit-appearance: button; /* 2 */
cursor: pointer; /* 3 */
}
/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
cursor: default;
}
/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}
/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
line-height: normal;
}
/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/
input[type="checkbox"],
input[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}
/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
height: auto;
}
/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
input[type="search"] {
-webkit-appearance: textfield; /* 1 */
box-sizing: content-box; /* 2 */
}
/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
/**
* Define consistent border, margin, and padding.
*/
fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}
/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
border: 0; /* 1 */
padding: 0; /* 2 */
}
/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
overflow: auto;
}
/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
font-weight: bold;
}
/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
border-collapse: collapse;
border-spacing: 0;
}
td,
th {
padding: 0;
}
/****** MAIN STYLE ******/
/*HEADER*/
.item img{
width: 100%;
}
.navbar{
margin-bottom: 0px !important;
}
/* ==========================================================================
Footer
========================================================================== */
.content-info {
font-size: 14px;
line-height: 20px;
padding: 30px 0;
position: relative;
background-color: #1480BF;
color: #fff;
}
.content-info h5 small {
color: #838886;
margin-left: 4px;
}
.sottofooter {
font-size: 12px
}
.content-info .icone-social {
width: 153px;
margin: 0 auto 20px;
}
.content-info .addthis_button_facebook_like iframe {
width: 120px !important;
}
.content-info .copyright {
text-align: center;
}
.icone-social a {
font-size: 24px;
}
.icone-social a:hover {
text-decoration: none;
opacity: 0.8;
}
a.icona-facebook {
color: #D1FF37;
}
a.icona-twitter {
color: #45ada8;
}
a.icona-google-plus {
color: #dd4c39;
}
a.icona-flickr {
color: #ea4c89;
}
a.icona-instagram {
color: #aa7e62;
}
.language_list {
list-style: none;
text-align: center;
}
.language_list ul {
padding: 0;
margin: 0;
}
.language_list li {
display: inline-block;
margin:  0 5px;
}
.navigation-top{
background-color: #1EAEEA !important;
border-color: #fff!important;
}
.navigation-top a{
color:#fff !important;
text-transform: uppercase!important;
}
.navigation-top .menu-home a{
background-color: #FF4900!important;
}
/*top tour*/
.tour{
overflow:hidden;
text-rendering: geometricPrecision;   
}
.list_Tour_01 ul{
list-style: none outside none;
margin: 0;
padding: 0;
margin-top: 9px;      
}
#centerContent{
margin-right: 10px;
padding: 0;
width: 817px;
float:left;display:inline;
}
#centerContent  .list_Tour_01{
background: #fff;
overflow: hidden;
margin-bottom: 20px;
position: relative;
}
#centerContent .list_Tour_01 .tour{
overflow:hidden;
text-rendering: geometricPrecision;   
}
#centerContent .list_Tour_01 h3 , #centerContent .list_Tour_01 .title{
background: url("../images/cat-header.png") no-repeat;
font-size: 14px;
height: 32px;
line-height: 32px;
margin: 0;
padding: 0 15px;
text-transform: uppercase;
}
#centerContent .list_Tour_01 h3 a {
color: #fff;
margin-left: 14px;
}   
#centerContent .list_Tour_01 h3 span a {
float: right;
font-size: 12px;
color: #910002;
text-transform: initial;
}
#centerContent  .list_Tour_01 ul{
list-style: none outside none;
margin: 0;
padding: 0;
margin-top: 9px;      
}
#centerContent .list_Tour_01 li{
float: left;
padding: 7px 9px;
width: 391px;
overflow: hidden;
background: #fbfafa;
margin-bottom: 8px;
margin-right: 35px;
}
#centerContent .list_Tour_01 li.bigthuexe{
width: 314px;
padding: 10px 0px 10px 5px;     
}
#centerContent  .list_Tour_01 li h2{
line-height: 13px;
margin: 0 0 0px 0px;
padding: 0;
height: 23px;
overflow: hidden;
}
#centerContent .list_Tour_01 li h2.heightauto {
height: auto;
}
#centerContent .list_Tour_01 li.bigthuexe h2 {
height: 18px;
}
#centerContent  .list_Tour_01 li h2 a{
color: #3e62ac;
font-size: 12px;
font-weight: bold;
}
#centerContent  .list_Tour_01 li .img{
float: left;
display: inline;
background: #fff;
margin-right: 7px;      
}
#centerContent .list_Tour_01 li .img img{
width: 99px;
height: 87px;
border: 1px solid #eaeaea;
padding: 2px;
}
#centerContent .list_Tour_01 li.bigthuexe .img img {
width: 145px;
height: 145px;
}
#centerContent .list_Tour_01 li .description{
overflow:hidden;
}
#centerContent .list_Tour_01 li.bigthuexe .description{
overflow:hidden;
}
#centerContent .list_Tour_01 li .description p{
margin:0 0 3px 0;
font-size:12px;
}
#centerContent .list_Tour_01 li .description p span{
font-weight:bold;
}
#centerContent .list_Tour_01 li .description p strong{
color:#fc3535;
margin-left:10px;
}
#centerContent .list_Tour_01.hoteo ul{ 
float:left;display:inline;
width:50%;
padding-right:10px;
}
#centerContent .list_Tour_01.hoteo ul li{
width:100%;
clear:bold;
}
#centerContent .list_Tour_01.hoteo  .list_hoteo{
overflow:hidden;
padding:20px 10px;
}
#centerContent .list_Tour_01.hoteo  .list_hoteo p{margin-bottom:5px;border-bottom:1px solid #ccc;}
#centerContent .list_Tour_01.hoteo  .list_hoteo p a{
background: url("/images/icon_11.png") no-repeat scroll left 2px rgba(0, 0, 0, 0);
line-height: 35px;
padding-left: 15px;
}
#centerContent .list_Tour_01.thuexe  .list_hoteo{
overflow:hidden;
padding:20px 10px;
float: left;
width: 625px;
}
#centerContent .list_Tour_01.thuexe  .list_hoteo p{margin-bottom:5px;border-bottom:1px solid #ccc;}
#centerContent .list_Tour_01.thuexe  .list_hoteo p a{
background: url("/images/icon_11.png") no-repeat scroll left 2px rgba(0, 0, 0, 0);
line-height: 35px;
padding-left: 15px;
}
#centerContent .list_Tour_01.dv_kinhdo  h3{
border-bottom: 3px solid #FC3535;
color: #1EAEEA;
margin-bottom: 30px;
padding-left: 75px;
}
#centerContent .list_Tour_01 .list_dv_kinhdo {overflow:hidden;}
#centerContent .list_Tour_01 .list_dv_kinhdo .item{
border: 1px solid #D6D6D6;
border-radius: 5px;
display: inline;
float: left;
margin: 10px;
overflow: hidden;
width: 30.1%;
}
#centerContent .list_Tour_01 .list_dv_kinhdo h2{
background: url("/images/bg_title3.png") no-repeat scroll center bottom #FBFBFB;
line-height: 20px;
margin: 0;
padding: 0 0 7px;
}
#centerContent .list_Tour_01 .list_dv_kinhdo h2 a{color:#fc3535;font-size:12px;font-weight:bold;}
#centerContent .list_Tour_01.dv_kinhdo span.icon{
background: url("/images/icon_12.png") no-repeat scroll left top;
display: block;
height: 71px;
left: 10px;
position: absolute;
top: 2px;
width: 62px;
}
#centerContent .list_Tour_01 .list_dv_kinhdo .description{
background: url("/images/bg_bg_bg.png") repeat scroll left top rgba;
padding: 10px;
font-size: 13px;
text-align:justify;
}
#centerContent .list_Tour_01 .list_dv_kinhdo .item_01 h2 a{
background: url("/images/icon_13.png") no-repeat scroll 10px center;
padding: 5px 0 5px 80px;
}
#centerContent .list_Tour_01 .list_dv_kinhdo .item_02 h2 a{
background: url("/images/icon_14.png") no-repeat scroll 10px center;
padding: 5px 0 5px 55px;
}
#centerContent .list_Tour_01 .list_dv_kinhdo .item_03 h2 a{
background: url("/images/icon_15.png") no-repeat scroll 10px center;
padding: 5px 0 5px 60px;
}
#RightContent{
width:340px;
padding:0;
float:right;
display:inline;
}
#centerContent .list_tour_top ul li {
width: 192px;
height: 268px;
padding: 0px;
margin-right: 16px;
background: none;
margin-top: 8px;
margin-bottom: 0px;
}
#centerContent .list_tour_top ul li .img img {
width: 100% !important;
height: 166px;
}
.last-item {
margin-right: 0px !important;
}
#centerContent .list_tour_top ul li a.img {
float: none;
width: 100%;
margin-right: 0px !important; 
}
#centerContent .list_tour_top ul li h2 {
height: 38px;
margin-bottom: 5px;
width: 100%;
overflow: hidden;
padding: 3px; 
}
#centerContent .list_tour_top ul li h2 a {
float: left;
line-height: 1.5em;
}
#centerContent .list_tour_top ul li .description {
background: #f9f7f7;
float: left;
width: 100%;
color: #646262;
font-weight: bold;
font-size: 12px;
}
#centerContent .list_tour_top ul li .description .row1 {
float: left;
width: 100%;
border-bottom: 1px solid #e9e5e5;
padding: 2px 4px;
}
#centerContent .list_tour_top ul li .description .row2 {
border-top: 1px solid #fff;
float: left;
width: 100%;
padding: 2px 4px;
}
#centerContent .list_tour_top ul li .gia {
color: #ff0000;
font-size: 12px;
white-space: nowrap;
}
#centerContent .list_tour_top ul {
margin-top: 0px;
}
#centerContent .list_tour_top ul li .description .row2 .right {
margin-top: 5px;
}
#centerContent .list_tour_top ul li .description .row2 .left {
white-space: nowrap;
}
.tour-top-tite {
border-bottom: 2px solid #00b4ff;
float: left;
width: 100%;
margin-bottom: 3px;
}   
.tour-top-tite h3 {
margin: 10px 0px;
background: url("../images/cat-header.png") no-repeat;
margin-bottom: -2px;
font-size: 14px;
color: #fefefe;
font-weight: bold;
width: 198px;
height: 28px;
line-height: 28px;
text-indent: 25px;
float: left;
}
/*sidebar right*/
@font-face {
font-family: 'utm_swiss';
src: url('../font/utm_swiss_condensedbold.eot');
src: url('../font/utm_swiss_condensedbold.eot?#iefix') format('embedded-opentype'),
url('../font/utm_swiss_condensedbold.woff') format('woff'),
url('../font/utm_swiss_condensedbold.ttf') format('truetype'),
url('../font/utm_swiss_condensedbold.svg#utm_swiss_condensedbold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'avo';
font-style: normal;
font-weight: normal;
src: url("../font/utm_avo.eot?#iefix") format("embedded-opentype"), 
url("../font/utm_avo.woff") format("woff"), 
url("../font/utm_avo.ttf") format("truetype");
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, img, samp, small, strike, strong, sub,  tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
background: none repeat scroll 0 0 transparent;
border: 0 none;
margin: 0;
outline: 0 none;
padding: 0;
vertical-align: baseline;
list-style: none;
}
.fl{
float: left;
}
.fr{
float: right;
}
a{
color: #1c7703;
text-decoration: none;
}
a:hover{
color: #FF6600;
}
.pages{
/*float: right;*/
padding : 10px 0px;
text-align: center;
}
input[type="submit"],
input[type="button"] {
background: url("../images/bg_bar_top.png") repeat-x scroll 0 0 transparent;
border: 0 none;
border-radius: 2px 2px 2px 2px;
box-shadow: 0 0 1px #999;
color: #FFFFFF;
cursor: pointer;
float: left;
font-family: "utm_swiss";
padding: 2px 10px;
text-transform: uppercase;
transition: all 300ms ease 50ms;
}
input[type="submit"]:hover,
input[type="button"]:hover {
background: url("../images/bg_bar_top.png") repeat-x scroll 0 0 transparent;
}
.pages a{
background: -moz-linear-gradient(center top , #F9F9F9 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;
border: 1px solid #D3D3D3;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #DFDFDF;
cursor: pointer;
font-size: 11px;
margin: 0 2px;
padding: 4px 7px;
}
.pages .current{
background: none repeat scroll 0 0 #6F6F6F;
box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #FFFFFF;
color: #FFFFFF;
font-weight: bold; 
cursor: pointer;
font-size: 11px;
margin: 0 2px;
padding: 4px 7px;
border: 1px solid #646464;
border-radius: 3px 3px 3px 3px;
}
.clearfix:after {
clear: both;
}
.clearfix:before, .clearfix:after {
content: "";
display: table;
}
.clearfix:before, .clearfix:after {
content: "";
display: table;
}
input[type="search"], input[type="email"], input[type="text"], input[type="number"],textarea{
border: 1px solid #CCCCCC;
color: #333;
padding: 3px 5px;
border-radius: 1px 1px 1px 1px;
}
input[type="search"] {
-moz-box-sizing: content-box;
}
button, input, select, textarea {
margin: 0;
vertical-align: baseline;
}
input, textarea {
outline: medium none;
}
.show_success,
.show_notice{
background: none repeat scroll 0 0 #E7FDD0;
border: 1px solid #B9FA78;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 5px #CCCCCC;
margin-top: 20px;
padding: 5px;
}
.support{
border-radius: 3px;
padding: 5px;
position: absolute;
right: 2px;
width: 235px;
}
.support p{
overflow: hidden;
padding-bottom: 5px;
line-height: 14px;
}
.support p a{
width: 110px;
float: left;
font-weight: bold;
}
.support p a img{
float: left;
margin-right: 5px;
}
#breadcrumbs {
margin-bottom: 10px;
}
#breadcrumbs ul {
background: url("../images/breadcrumb_home.png") no-repeat scroll left 6px rgba(0, 0, 0, 0);
height: 25px;
line-height: 25px;
list-style-type: none;
margin-bottom: 1px;
padding-left: 10px;
}
#breadcrumbs li {
color: #666666;
float: left;
height: 25px;
margin-left: 5px;
}
#breadcrumbs li a {
background: url("../images/brand.png") no-repeat scroll right center rgba(0, 0, 0, 0);
color: #333333;
display: block;
font-size: 12px;
line-height: 25px;
padding-right: 15px;
}
#breadcrumbs li a:hover {
color: #FF6702;
}
#breadcrumbs li a.active {
color: #FF6702;
font-weight: bold;
}
#breadcrumbs li a.end {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
body{
background: #F8F8F8;/* url(../images/background.jpg) repeat top;*/
padding: 0px;
margin: 0px;
font-family: Arial,"sans-serif";
color: #333333;
line-height: 18px;
font-size: 12px; 
}
#header{
width: 100%;
position: relative;
height: 145px;
}
#main_header_top {
background: url(../images/bg_bar_top.png) repeat-x;
border-bottom: 1px #13a705 solid;
height: 30px;
} 
#main_header_top1{
background: #FFFFFF; /* Old browsers */
border-bottom: 1px #ddd solid;
background: -moz-linear-gradient(top,  #FFFFFF 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#f2f2f2));
background: -webkit-linear-gradient(top,  #FFFFFF 0%,#f2f2f2 100%);
background: -o-linear-gradient(top,  #FFFFFF 0%,#f2f2f2 100%); 
background: -ms-linear-gradient(top,  #FFFFFF 0%,#f2f2f2 100%);
background: linear-gradient(to bottom,  #FFFFFF 0%,#f2f2f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); 
height: 35px;
position: relative;
z-index: 100;
}
#main_foot_top{
background: #FFFFFF; /* Old browsers */
border-top: 1px #ddd solid;
background: -moz-linear-gradient(top,  #FFFFFF 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#f2f2f2));
background: -webkit-linear-gradient(top,  #FFFFFF 0%,#f2f2f2 100%);
background: -o-linear-gradient(top,  #FFFFFF 0%,#f2f2f2 100%); 
background: -ms-linear-gradient(top,  #FFFFFF 0%,#f2f2f2 100%);
background: linear-gradient(to bottom,  #FFFFFF 0%,#f2f2f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); 
height: 34px;
position: fixed;
z-index: 1000;
width: 100%;
bottom: 0;
display: none;
min-width: 300px;
}
#main_foot_top .number{
float: left;
line-height: 34px;
font-family: Tahoma;
font-weight: bold;
padding-left: 15px;
color: #0000FF;
}
#header .bartop{
padding: 8px 0px;
padding-left: 170px;
position: relative;
}
.bartop .icon_phone{
background: url(../images/icon.png) no-repeat;
width: 24px;
height: 24px;
float: left;
}  
.bartop .txt_phone{
font-weight: bold;
color: #4f4f4f;
text-shadow: 0 1px 0 #FFFFFF;
font-family: "Tahoma";
font-size: 14px;
padding-left: 9px;
}  
.bartop .support{
background: url(../images/arrow_support.png) no-repeat scroll 100% 8px;
padding-right: 10px;
float: right;
cursor: pointer;
}  
.bartop .sitemap{
float: right;
margin-left: 10px;
}
.bartop .sitemap a{
font-weight: bold;
color: #49BC2D;
padding: 0px 10px;
float: left;
border-radius: 2px;
font-size: 13px;
}
#wrapper{
width: 1140px;
margin: 0 auto;
position: relative;
}
#header #logo{
background: url(../images/logo.png) no-repeat;
position: relative;
width: 166px;
height: 135px; 
margin-top: -31px;  
z-index: 110;
float: left;
margin-left: -10px;
}
#header .headr{
float: left;
width: 972px;
position: relative;
} 
.menu{
float: left;
margin-top: 10px;
}
.menu li{
float: left;
}
.menu li a{
float: left;
padding: 5px 10px;
font-size: 14px;
font-weight: bold;
margin-right: 10px;
font-family: "Tahoma";
color: #2714FF;
}
.menu li a.active,
.menu li a:hover{
background: url(../images/bg_bar_top.png) repeat-x top;
color: #FFF;
border-radius: 5px 5px 5px 5px;
}
#header .search{
position: absolute;
top: 74px;
left: 0px;
}
#header .search .keyword{
background: #FFF;
border: 1px solid #d1d1d1;
border-radius: 2px;    
float: left;
color: #000;
width: 150px;
}
#header .search label{
float: left;
padding: 3px;
font-weight: bold;
color: #222;
}
#header .search .item{
float: left;
margin-right: 15px;
}
#header .mapdnx{
float: right;
width: 224px;
height: 94px;
margin-top: 5px;
box-shadow: 0px 0px 2px #333;
}
.select {
cursor:pointer;
display:inline-block;
position:relative;
font:normal 12px/22px Arial,Sans-Serif;
color:#222;
border: 1px solid #d1d1d1;
border-radius: 2px; 
padding: 3px; 
}
.styledSelect {
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:white;
padding:0 10px;
font-weight:bold;
}
.styledSelect:after {
content:"";
width:0;
height:0;
border:5px solid transparent;
border-color:black transparent transparent transparent;
position:absolute;
top:9px;
right:6px;
}
.styledSelect:active,
.styledSelect.active {
background-color:#eee;
}
.options {
display:none;
position:absolute;
top:100%;
right:0;
left:0;
z-index:999;
margin:0 0;
padding:0 0;
list-style:none;
border:1px solid #ccc;
background-color:white;
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
.options li {
padding:0 6px;
margin:0 0;
padding:0 10px;
}
.options li:hover {
background-color:#39f;
color:white;
}
.page_content{
float: left;
width: 100%;
}
.colleft{
width: 259px;
float: left;
}
.colright{
width: 250px;
float: right;
}
.content{
margin-left: 10px;
width: 670px;
float: left;
}
.nolist {
list-style: none outside none;
margin: 0;
padding: 0;
}
.vtvgroup {
height: 240px;
padding: 0px;
position: relative;
width: 250px;
}
.vtvgroup ul {
float: left;
margin: 0;
}
.vtvgroup ul li a {
-moz-box-sizing: border-box;
background-repeat: no-repeat;
color: #FFFFFF;
float: left;
font-size: 13px;
line-height: 15px;
text-align: center;
text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
transition: all 300ms ease 100ms;
-webkit-transition: all 300ms ease 100ms;
}
.vtvgroup ul li a:hover {
border-color: #555555;
box-shadow: 0 1px 25px rgba(0, 0, 0, 0.4) inset;
-webkit-box-shadow: 0 1px 25px rgba(0, 0, 0, 0.4) inset;
text-decoration: none;
}
.vtvgroup ul li {
float: left;
margin-bottom: 3px;
}
.vtvgroup .col1, .vtvgroup .col1 a {
margin-right: 3px;
width: 92px;
}
.vtvgroup .col1 li.mycar {
height: 129px;
}
.vtvgroup .col1 li.mycar a {
background-color: #EA35FF;
background-image: url("../images/car.png");
background-position: center 4px;
height: 129px;
line-height: 170px;
}
.vtvgroup .col1 li.mycar a:hover {
background-position: center 40px;
line-height: 50px;
}
.vtvgroup .col1 li.ticket {
height: 100px;
width: 92px;
}
.vtvgroup .col1 li.ticket a {
background-color: #ff7f27;
background-image: url("../images/flight.png");
background-position: center 15px;
height: 99px;
line-height: 160px;
text-align: center;
width: 92px;
}
.vtvgroup .col1 li.ticket a:hover {
background-position: center 35px;
line-height: 50px;
}
.vtvgroup .col2, .vtvgroup .col2 a {
width: 155px;
}
.vtvgroup .col2 li.hoteldnx {
height: 81px;
}
.vtvgroup .col2 li.hoteldnx a {
background-color: #ff0080;
background-image: url("../images/hotel.png");
background-position: center 15px;
height: 81px;
width: 164px;
line-height: 130px;
text-align: center;
}
.vtvgroup .col2 li.hoteldnx a:hover {
background-position: center 35px;
line-height: 50px;
}
.vtvgroup .col2 li.tour-asia {
height: 59px;
}
.vtvgroup .col2 li.tour-asia a {
background-color: #1481ff;
background-image: url("../images/travel.png");
background-position: 100px center;
color: #FFFFFF;
height: 59px;
width: 164px;
padding-left: 0px;
line-height: 60px;
text-align: left;
}
.vtvgroup .col2 li.tour-asia a:hover {
background-position: 5px center;
line-height: 60px;
text-align: right;
}
.vtvgroup .col2 li.event {
height: 85px;
margin-right: 3px;
width: 74px;
margin-bottom: 3px;
}
.vtvgroup .col2 li.event a {
background-color: #FFF65B;
background-image: url("../images/icon_new.png");
background-position: center 15px;
height: 85px;
line-height: 120px;
text-align: center;
width: 77px;
color: #2833FF;
}
.vtvgroup .col2 li.event a:hover {
background-position: center 35px;
line-height: 50px;
}
.vtvgroup .col2 li.duhoc {
height: 85px;
width: 75px;
margin-left: 3px;
}
.vtvgroup .col2 li.duhoc a {
background-color: #11db4c;
background-image: url("../images/event.png");
background-position: center 15px;
height: 85px;
line-height: 120px;
text-align: center;
width: 75px;
}
.vtvgroup .col2 li.duhoc a:hover {
background-position: center 35px;
line-height: 50px;
}
.module_menu{
margin-bottom: 10px;
}
.module_menu h2.title{
background: url(../images/bg_bar_top.png) repeat-x bottom;
padding: 7px 10px;
border-radius: 3px 3px 0px 0px;
color: #FFF;
font-family:"Tohama";
font-size: 14px;
text-align: center;
}
.module_menu .mid{
background: #FFF;
border-left: 1px solid #d1d1d1;
border-right: 1px solid #d1d1d1;
border-bottom: 1px solid #d1d1d1;
}
.module_menu .mid .catname{
background: #1481ff;
color:#fff;
padding: 5px 10px;
border-top: 1px solid #CCCCCC; 
}
.module_menu .mid .catname.active,
.module_menu .mid .catname:hover{
background: #1481ff;
color:#fff;
}
.module_menu .mid .catname span.arrow{
float: right;
background: url(../images/arrow.png) no-repeat;
width: 9px;
height: 9px;
margin-top: 4px;
cursor: pointer;
transition: all 0.1s linear 0s;
}
.module_menu .mid .catname span.arrow.expand{
transform: rotate(90deg);
transition: all 0.1s linear 0s;
}
.module_menu .mid .catname a{
font-weight: bold;
color: #fff;
text-decoration: none;
}
.module_menu .submenu{
border-top: 1px solid #CCCCCC;
}
.module_menu .submenu li{
border-bottom: 1px dotted #ebebeb;
padding: 5px 10px;
}
.module_menu .submenu li.last{
border-bottom: 0px;
}
.module_menu .submenu li a{
color: #007abf;
}
.module_menu .submenu li.active,
.module_menu .submenu li:hover{
background: #dddddd;
}
.module_menu .submenu li.active a,
.module_menu .submenu li:hover a{
color: #FF6600;
}
.module_green{
margin-bottom: 10px;
}
.module_green h2.title{
background: url(../images/bg_bar_top.png) repeat-x bottom;
padding: 7px 10px;
border-radius: 3px 3px 0px 0px;
color: #FFF;
font-size: 14px;
font-family:"Tohama"; 
text-align: center;
}
.module_green .mid{
background: #FFF;
border: 1px solid #d1d1d1;
border-top: 0px;
}
ul.listchude{
padding: 5px;
}
ul.listchude li{
background: url(../images/brand.png) no-repeat scroll 0px 5px;
padding-left: 7px;
margin: 5px 0px;
}
ul.tuvandl{
padding: 5px;
}
ul.tuvandl li{
overflow: hidden;
margin-bottom: 2px;
}
ul.tuvandl span{
background: none repeat scroll 0 0 #0FA502;
color: #FFFFFF;
float: left;
font-size: 11px;
font-weight: bold;
padding: 1px 8px;
text-align: center;
margin-right: 5px;
display: block;
overflow: hidden;
}
ul.tuvandl a{
color: #333;
}
ul.tuvandl li:hover span{
background: #007abf; 
}
ul.tuvandl li:hover a,
ul.tuvandl a:hover{
color: #007abf;
}
.hotTour{
margin-top: 10px; 
}
.hotTour h2.title{
font-size: 17px;
margin-top: 2px;
margin-bottom: 10px;
text-transform: uppercase;
color: #007ABF;
}
table {
border-collapse: collapse;
font-family: Arial,Tahoma,Verdana,Lucida Grande Sans-Serif;
font-size: 12px;
}
.con_tour_hot{
border: 1px solid #EEEEEE;
}
.hotTable th{
background: #F9F9F9;
border-bottom: 1px solid #EEEEEE;
padding: 7px 5px;
}
.hotTable tr.row0 td{
background: #FFF;
}
.hotTable tr.row1 td{
background: #fffee0;
}
.hotTable td{
padding: 7px 5px;
}
.hotTable td.price{
color: #FF0000;
font-weight: bold;
text-align: right;
}
.hotTable td a{
font-weight: bold;
}
.hotTable span.stt{
background: url(../images/bg_title_pop.png) repeat-x bottom;
color: #FFF;
width: 20px;
text-align: center;
line-height: 20px;
float: left;
border-radius: 100%;
}
.lastTour li {
background: none repeat scroll 0 0 #F2F2F2;
border: 1px solid #CCCCCC;
box-shadow: 0 0 2px #CACACA;
float: left;
margin-bottom: 10px;
margin-right: 10px;
width: 214px;
overflow: hidden;
}
.lastTour li.last{
margin-right: 0px;
}
.lastTour li .img {
display: block;
height: 130px;
overflow: hidden;
width: 214px;
}
.lastTour li .img:hover {
}
.title_last_tour{
font-size: 17px;
margin-top: 20px;
margin-bottom: 8px;
text-transform: uppercase;
color: #007ABF;
}
.lastTour li .img a {
display: block;
height: 130px;
position: relative;
width: 214px;
}
.lastTour li .img .title {
background: url("../images/trans_50.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
bottom: 0;
color: #FFFFFF;
font-size: 11px;
left: 0;
line-height: 16px;
padding: 5px;
position: absolute;
width: 204px;
}
.lastTour li .img img {
min-height: 130px;
width: 214px;
transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-webkit-transition: all 0.4s ease 0s;
}
.lastTour li:hover img{
transform: scale(1.15);
-moz-transform: scale(1.15);
-webkit-transform: scale(1.15);
}
.lastTour .info_tour {
background: none repeat scroll 0 0 #F2F2F2;
border: 1px solid #FFFFFF;
color: #333333;
height: 55px;
padding: 5px 10px;
}
.lastTour span.price {
color: #FF0000;
font-size: 20px;
font-weight: bold;
}
.lastTour span.price span {
font-size: 15px;
}
.near-hotels {
padding: 0;
}
.near-hotels li {
margin-bottom: 10px;
overflow: hidden;
padding: 5px;
transition: all 300ms ease 100ms;
}
.near-hotels li:hover {
box-shadow: 0 0 5px #CCCCCC;
}
.near-hotels li h4 {
font-size: 12px;
font-weight: bold;
}
.near-hotels .img {
float: left;
height: 60px;
margin-right: 5px;
width: 90px;
}
.near-hotels .img a {
border-radius: 5px;
display: block;
height: 60px;
overflow: hidden;
width: 90px;
}
.near-hotels .img img {
min-height: 60px;
width: 90px;
}
.near-hotels .address {
color: #7A7777;
font-size: 11px;
}
.near-hotels .price {
color: #FF6600;
font-size: 15px;
font-weight: bold;
}
.near-hotels .a_bot {
margin-top: 5px;
}
.near-hotels .a_bot a {
margin-right: 20px;
}
.near-hotels .a_bot a:hover {
text-decoration: underline;
}
h1.title{
font-size: 20px;
margin-bottom: 5px;
color: #007AC1;
line-height: 22px;
}
p.des{
margin-bottom: 10px;
}
.Tour_detail{
overflow: hidden;
margin-top: 10px;
margin-bottom: 10px;
}
.Tour_detail .Listimg{
float: left;
width: 360px;
}
.Tour_detail .InfoTour{
float: right;
width: 300px;
}
.InfoTour .box_info{
border: 1px solid #d1d1d1;
background: #F3F3F3;
padding: 10px;
border-radius: 2px;
box-shadow: 0 0 2px #CCCCCC inset;      
}
.InfoTour .txt_price{
color: #333;
margin-bottom: 5px;
text-align: center;
font-weight: bold;
font-size: 14px;
}
.InfoTour .price{
color: #FF0000;
font-size: 20px;
font-weight: bold;
text-align: center;
}
.score-container .score {
color: #333333;
font-size: 50px;
font-weight: 100;
line-height: 50px;
text-align: center;
}
.small-star.star-rating-non-editable-container{
background: url(../images/star1.png) repeat-x;
height: 24px;
width: 120px;
}
.score-container-star-rating{
text-align: center;
margin-left: 78px;
}
.small-star .current-rating{
background: url(../images/star0.png) repeat-x;
height: 24px;
}
.reviews-stats{
text-align: center;
margin-top: 5px;
}
.show_rating{
display: none;
height: 24px;
width: 100%;
overflow: hidden;
}
.show_rating a{
background: url(../images/star1.png) repeat-x;
height: 24px;
width: 24px;
float: left;
cursor: pointer;
}
.show_rating a.on{
background: url(../images/star0.png) repeat-x;
}
.InfoTour .price_note{
text-align: center;
font-size: 11px;
margin-bottom: 10px;
}
.InfoTour .booktour{
text-align: center;
overflow: hidden;
margin: 10px 0px;
}
.InfoTour .booktour a{
background: url("../images/bg_bar_top.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
border: 0 none;
border-radius: 2px;
box-shadow: 0 0 1px #999999;
color: #FFFFFF;
cursor: pointer;
float: left;
font-family: "utm_swiss";
padding: 5px 15px;
text-transform: uppercase;
transition: all 300ms ease 50ms;
margin-left: 90px;
font-size: 16px;
line-height: 18px;
}
.InfoTour .booktour a:hover{
color: #CC0000;
}
.InfoTour .rating{
}
.tableTour {
font-size: 11px;
font-family: "Tahoma";
border-collapse: collapse;
border-spacing: 0;
clear: both;
margin: 0 auto;
width: 100%;
}
.tableTour td{
vertical-align: top;
padding: 2px 2px;
}
.tableTour td.label{
font-weight: bold;
color: #222;
width: 95px;
}
.Listimg .Lager{
overflow: hidden;
display: block;
width: 360px;
height: 250px;
}
.Listimg .Lager img{
width: 360px;
min-height: 250px;
}
.listtour{
}
.listtour li{
overflow: hidden;
margin-bottom: 10px;
padding: 10px;
border-top: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #CDCDCD;
background: #FFF;
position: relative;
}
.listtour li .title{
font-weight: bold;
margin-bottom: 5px;
font-size: 15px;
}
.listtour li .img{
width: 152px;
height: 102px;
float: left;
margin-right: 10px;
overflow: hidden;
border-radius: 2px 2px 2px 2px;
border: 1px solid #d1d1d1;
}
.listtour li .img a{
width: 150px;
height: 100px;
overflow: hidden;
border: 1px solid #FFF;
float: left;
}
.listtour li .img img{
width: 150px;
min-height: 100px;
}
.info_filter_tour {
width: 200px;
float: left;
}
.info_tour{
float: left;
font-size: 12px;
width: 484px;
}
.info_tour p{
padding: 2px 0px;
}
.info_filter_tour_last{
clear: both;
margin-top: 5px;
}
.listtour li .hot{
background: url(../images/icon_hot.png) no-repeat;
width: 31px;
height: 106px;
position: absolute;
top: -2px;
right: 0px;
}
.listtour li .khuyenmai{
background: url(../images/icon_khuyenmai.png) no-repeat;
width: 31px;
height: 106px;
position: absolute;
top: -2px;
right: 0px;
}
.info_filter_tour_last .price{
color: #FF0000;
font-size: 17px;
font-weight: bold;
}
.info_filter_tour_last .google{
float: right;
width: 80px;
}
.tab{
}
.tab ul.listtab{
background: url(../images/bg_bar_top.png) repeat-x top;
height: 35px;
width: 100%;
float: left;
border-radius: 5px 5px 0px 0px;
}
ul.listtab li{
float: left;
margin-top: 5px;
}
ul.listtab li a{
float: left;
margin-left: 10px;
padding: 6px 10px;
font-weight: bold;
color: #FFF;
}
ul.listtab li a.active{
background: url(../images/bg_map.png) repeat-x top;
color: #222;
border-radius: 2px 2px 0px 0px
}
.tab .midTab{
border: 1px solid #ebebeb;
border-top: 0px solid #d1d1d1;
padding: 10px;
background: #FFF;
}
.tabcon{
display: none;
}
.tabcon .fulltext{
clear: both;
}
.tabcon .fulltext p{
margin-bottom: 10px;
}
.introtext{
font-weight: bold;
margin-bottom: 10px;
}
.fulltext p{
margin-bottom: 10px;
}
.shareTool{
height: 30px;
margin-top: 10px;
margin-bottom: 10px;
}
.shareTool span{
float: left;
}
.shareTool span.google{
width: 80px;
}
.shareTool span.fb-like{
width: 150px;
}
.shareTool span.hits{
color: #666;
font-size: 11px;
}
.ulhelp li{
padding: 10px 0px;
border-bottom: 1px solid #f2f2f2;
border-top: 1px solid #FFF;
overflow: hidden;
}
.ulhelp li.first{
border-top: 0px solid #FFF;
}
.ulhelp li.last{
border-bottom: 0px solid #FFF;
}
.ulhelp li h3{
font-size: 15px;
}
.ulhelp .readmore {
background: url("../images/arrow.png") no-repeat scroll 100% 5px rgba(0, 0, 0, 0);
color: #CC0000;
float: right;
font-weight: bold;
padding-right: 10px;
}
.help_other{
overflow: hidden;
padding: 10px;
background: #f9f1da;
border: 1px solid #f7e6b4;
margin-top: 15px;
}
.help_other h2{
color: #007AC1;
font-size: 14px;
text-transform: uppercase;
margin-bottom: 10px;
border-bottom: 1px solid #f2f2f2;
}
.help_other li{
margin: 3px 0px;
background: url(../images/item-menu.png) no-repeat scroll 0px 7px;
padding-left: 10px;
}
.help_other li a{
color: #222;
}
.help_other li a:hover{
color: #1C7703;
}
.listxe li{
float: left;
width: 215px;
height: 220px;
background: #FFF;
margin-right: 10px;
margin-bottom: 10px;
box-shadow: 0px 0px 2px #999;
}
.listxe li.last{
margin-right: 0px;
}
.listxe li .img{
width: 215px;
height: 170px;
overflow: hidden;
}                      
.listxe li .img a{
width: 215px;
height: 170px;
overflow: hidden;
display: block;
position: relative;
}
.listxe li .img a .title{
background: #3493cc;
padding: 5px;
position: absolute;
bottom: 0px;
left: 0px;
width: 205px;
color: #FFF;
}
.listxe li .img a img{
width: 215px;
min-height: 150px;
}
.listxe li .info{
padding: 5px;
}
.listxe li .info label{
font-weight: bold;
width: 70px;
float: left;
}
.itemxe{
overflow: hidden;
margin-bottom: 10px;
}
.itemxe .Listimg{
float: left;  
}
.itemxe .info_xe{
float: right;
width: 290px;
}
.itemxe .info_xe h1.title{
margin-bottom: 10px;
font-size: 17px;
}
.itemxe .info_xe .i_row{
margin-bottom: 5px;
}
.itemxe .info_xe .i_row label{
float: left;
width: 80px;
font-weight: bold;
}
.chitietxe{
clear: both;
}
.chitietxe h2.title{
font-weight: bold;
font-size: 17px;
border-bottom: 1px solid #d1d1d1;
margin-bottom: 10px;
margin-top: 10px;
padding: 5px 0px;
color: #007ABF;
}
.xelienquan{
margin-top: 20px;
}
.xelienquan h2.title{
font-weight: bold;
font-size: 17px;
border-bottom: 1px solid #d1d1d1;
margin-bottom: 10px;
margin-top: 10px;
padding: 5px 0px;
color: #007ABF;
}
.xelienquan li{
border: 1px solid #d1d1d1;
background: #FFF;
float: left;
margin-right: 10px;
margin-bottom: 10px;
padding: 5px 10px;
width: 308px;
height: 80px;
}
.xelienquan li.last{
margin-right: 0px;
}
.xelienquan li .img{
width: 100px;
height: 70px;
overflow: hidden;
display: block;
float: left;
margin-right: 10px;
margin-top: 5px;
}
.xelienquan li .img a{
width: 100px;
min-height: 70px;
}
.xelienquan li .title{
font-weight: bold;
}
.xelienquan li .title a{
color: #007abf;
}
.xelienquan li .title a:hover{
color: #FF6600;
}
.news-content li{
overflow: hidden;
padding: 10px 0px;
}
.other_new{
margin-top: 20px;
}
.other_new h2.title{
margin-top: 20px;
margin-bottom: 5px;
border-bottom: 1px solid #DDD;
font-size: 15px;
}
.other_new li{
background: url(../images/icon_row.png) no-repeat scroll 0px 5px;
padding-left: 12px; 
margin: 3px 0px;
}
.other_new li a{
color: #007abf;
}
.other_new li a:hover{
color: #FF6600;
}
.listkh li{
float: left;
width: 215px;
height: 170px;
background: #FFF;
margin-right: 10px;
margin-bottom: 10px;
box-shadow: 0px 0px 2px #999;
}
.listkh li.last{
margin-right: 0px;
}
.listkh li .img{
width: 215px;
height: 170px;
overflow: hidden;
}                      
.listkh li .img a{
width: 215px;
height: 170px;
overflow: hidden;
display: block;
position: relative;
}
.listkh li .img a .title{
background: #3493cc;
padding: 5px;
position: absolute;
bottom: 0px;
left: 0px;
width: 205px;
color: #FFF;
}
.listkh li .img a img{
width: 215px;
min-height: 150px;
}
#footer{
background: #ebebeb;
border-top: 1px solid #43C919;
padding-bottom: 0px;
width: 100%;
}
#footer #wp_footer{
/*border-top: 1px solid #FFF;*/
width: 1140px;
margin: 0 auto;
padding: 10px 0px;
}
#weblink{
margin: 0px 40px;
height: 120px;
position: relative;
}
#weblink .nextdv{
position: absolute;
top: 40px;
right: -40px;
width: 32px;
height: 32px;
background: url(../images/next.png) no-repeat;
}
#weblink .prevdv{
position: absolute;
top: 40px;
left: -40px;
width: 32px;
height: 32px;
background: url(../images/prev.png) no-repeat;
}
#weblink li{
width: 150px;
height: 110px;
float: left;
}
#weblink ul{
margin: 0px 40px;
}
#weblink li a{
overflow: hidden;
display: block;
padding: 5px;
float: left;
width: 150px;
height: 100px;
}
#weblink li a img{
width: 140px;
height: 98px;
border: 1px solid #d1d1d1;
box-shadow: 0px 0px 2px #d1d1d1;
border-radius: 5px 5px 5px 5px;
}
#line_foot{
background: url(../images/page-divider.png) no-repeat top center;
height: 20px;
}
#line_fcol{
overflow: hidden;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
padding-left: 45px;
padding-right: 40px;
}
#line_fcol .col{
float: left;
width: 200px;
}
#line_fcol .col h4{
color: blue;
margin-bottom: 10px;
text-transform: uppercase;
}
#line_fcol .col li{
margin: 5px 0px;
overflow: hidden;
}
#line_fcol .col a{
color: #666;
}
#line_fcol .col .icon{
width: 24px;
height: 24px;
float: left;
margin-right: 5px;
}
#line_fcol .col .fb{
background: url(../images/facebook.png) no-repeat;
}
#line_fcol .col .google{
background: url(../images/google.png) no-repeat;
}
#line_fcol .col .twitter{
background: url(../images/twitter.png) no-repeat;
}
#line_fcol .col .share li{
margin-bottom: 15px;
line-height: 24px;
font-weight: bold;
}
#line_fcol .col .bank li{
float: left;
background: #FFF;
box-shadow: 0px 0px 2px #d1d1d1;
margin: 5px;
border-radius: 2px;
width: 35px;
height: 35px;
text-align: center;
}
#com_foot{
overflow: hidden;
border-top: 1px solid #FFF;
padding-top: 10px;
}
#com_foot #logo_foot{
width: 120px;
height: 100px;
float: left;
}
#com_foot #info_company{
float: left;
width: 500px;
}
#com_foot #info_company .title {
color: #2AC615;
font-family: "Tohama";
font-size: 14px;
font-weight: bold;
margin-bottom: 5px;
text-transform: uppercase;
}
.title_tour{
margin-top: 10px;
font-size: 15px;
}
.book_info_img{
float: left;
width: 250px;
height: 180px;
overflow: hidden;
display: block;
margin-top: 10px;
}
.book_info_img img{
width: 250px;
min-height: 180px;
}
.book_info_tour{
margin-bottom: 10px;
margin-top: 10px;
float: right;
width: 400px;
}
.book_info_tour p{
overflow: hidden;
padding: 3px 0px;
}
.book_info_tour p label{
float: left;
width: 120px;
font-weight: bold;
color: #007AC1;
}
.tbl_price{
width: 100%;
}
.tbl_price td{
padding: 5px;
vertical-align: top;
}
.tbl_price td.label{
font-weight: bold;
width: 100px;
}
.main_booking{
}
.main_booking h3.customer{
margin-bottom: 10px;
border-bottom: 1px solid #f2f2f2;
padding: 7px 0px;
background: url(../images/customer.png) no-repeat;
padding-left: 40px;
color: #32ae07;
}
.main_booking h3.info_tour_b{
margin-bottom: 10px;
border-bottom: 1px solid #f2f2f2;
padding: 7px 0px;
background: url(../images/info_tour.png) no-repeat;
padding-left: 40px;
color: #32ae07;
}
.main_booking h3.info_pay{
margin-bottom: 10px;
border-bottom: 1px solid #f2f2f2;
padding: 7px 0px;
background: url(../images/icon_pay.png) no-repeat;
padding-left: 40px;
color: #32ae07;
}
.tbl_booking{
margin-bottom: 10px;
width: 100%;
}
.tbl_booking td{
padding: 5px;
vertical-align: top;
}
.tbl_booking td.label{
font-weight: bold;
width: 100px;
}              
.itemcol{
float: left;
width: 150px;
text-align: right;
}
.itemcol p{
font-size: 11px;
color: #666;
}
.itemcol ul,
.itemcol .styledSelect{
text-align: left;
}
.itemcol select{
width: 60px;
padding: 3px 5px;
}
#book_tour div.error{
font-size: 11px;
color: #FF0000;
}
.flip {
background: url("../images/bghttt.jpg") repeat-x scroll 0 0 #E7E7E7;
border: 1px solid #D7D7D7;
cursor: pointer;
height: 70px;
padding: 10px 0;
position: relative;
}
.flip.active {
background: none repeat scroll 0 0 #E7E7E7;
}
.flip p {
color: #444444;
float: left;
font-size: 12px;
width: 480px;
}
.flip p b {
font-size: 16px;
font-weight: bold;
line-height: 20px;
text-transform: uppercase;
}
.imgFlipHTTT {
float: left;
margin-right: 15px;
margin-top: 10px;
padding-left: 10px;
text-align: center;
width: 80px;
}
.tickArrowhttt {
background: url("../images//tick.png") no-repeat scroll center center rgba(0, 0, 0, 0);
height: 60px;
position: absolute;
right: 10px;
top: 15px;
width: 60px;
z-index: 11;
}
.downArrowhttt {
background: url("../images/moreHttt.png") no-repeat scroll center center rgba(0, 0, 0, 0);
height: 60px;
position: absolute;
right: 10px;
top: 15px;
width: 60px;
z-index: 10;
}
.panel {
border-left: 1px solid #D7D7D7;
border-right: 1px solid #D7D7D7;
display: none;
padding: 10px 10px 10px 107px;
background: #FFF;
}
.panel .bankcompany {
border-bottom: 1px solid #D7D7D7;
font-weight: bold;
margin-bottom: 5px;
margin-top: 20px;
padding: 5px 0;
text-transform: uppercase;
}
.panel .bank {
border-bottom: 1px solid #E6E6E6;
padding: 10px 0;
}
.panel .bank table {
width: 100%;
}
.panel .bank table td {
padding: 5px 0;
vertical-align: top;
}
.bank .imgbank {
width: 100px;
}
.bank .bankname {
color: #005CA1;
font-weight: bold;
text-transform: uppercase;
}
.bank .text {
font-weight: bold;
}
.panel .psubmit {
margin: 5px 0;
overflow: hidden;
}
.panel .bnt {
background-color: #EC0E0D;
background-image: -moz-linear-gradient(center top , #EC0E0D, #C80E0D);
border: 0 none;
border-radius: 2px;
color: #FFFFFF;
cursor: pointer;
float: right;
font-family: "Tahoma";
font-size: 13px;
font-weight: bold;
padding: 5px 10px;
text-transform: uppercase;
transition: all 300ms ease 50ms;
}
.panel .bnt:hover {
background-color: #086ECD;
background-image: -moz-linear-gradient(center top , #086ECD, #0558A5);
}
.TTdh {
background: none repeat scroll 0 0 #F5FBFF;
border: 1px solid #5594E2;
border-radius: 10px;
color: #000000;
font-size: 12px;
line-height: 18px;
margin: 15px 0;
padding: 12px;
}
.TTdh span {
color: #005CA1;
font-weight: bold;
}
.ttdhLuuy fieldset {
background: none repeat scroll 0 0 #FEF7EC;
border: 1px solid #E84E0F;
border-radius: 10px;
color: #000000;
font-size: 12px;
margin-bottom: 15px;
padding: 8px 10px;
}
.ttdhLuuy legend {
color: #E84E0F;
font-size: 16px;
font-weight: bold;
padding: 0 5px;
}
.ttdhLuuy div {
line-height: 18px;
margin-bottom: 5px;
}
.ttdhLuuy span {
color: #CC0000;
font-weight: bold;
}
#total_payment{
color: #FF0000;
font-size: 20px;
font-weight: bold;
}
.Counter{
float: right;
margin-top: 10px;
}
.Counter .copyright{
float: right;
margin-top: 30px;
}
/*
.listtour li{
float: left;
margin-bottom: 10px;
margin-right: 10px;
border-bottom: 0 none !important;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
cursor: pointer;
transition: all 0.2s ease-in-out 0s;
height: 300px;
position: relative;
}
.listtour li.last{
margin-right: 0px;
}
.listtour li.item{
width: 215px;
border-bottom: 2px solid #E4E4E4;
}
.listtour li.item .img{
width: 215px;
height: 215px;
overflow: hidden;
display: block;
}
.listtour li.item .img a{
width: 440px;
height: 215px;
overflow: hidden;
}
.listtour li.item .img a img{
width: 440px;
min-height: 215px;
transition: margin 1s ease 0s;
-webkit-transition: margin 1s ease 0s;
margin-left: 0px;
}
.listtour li.item .img:hover img{
margin-left: -215px;
}
.listtour li.item_list .title,
.listtour li.item .title{
margin: 10px 5px;    
}
.listtour li.item_list .title a{
font-size: 18px;
color: #454545;
}
.listtour li.item .title a{
color: #454545;
font-size: 14px;
}
.listtour li.item_list{
width: 440px;
}
.listtour li.item_list .img{
width: 440px;
height: 215px;
overflow: hidden;
}
.listtour li.item_list .img a{
width: 440px;
height: 215px;
}
.listtour li.item_list .img img{
width: 440px;
min-height: 215px;
}
.listtour li .price{
position: absolute;
bottom: 10px;
left: 5px;
color: #FF0000;
font-size: 20px;
font-weight: bold;
}
*/
.facegoogle {
float: right;
width: 340px;   
}
.face_book  {
float:right;
width: 170px;
overflow: hidden;
}
.google_plus {
float:right;
width: 170px;
}
.twitter-share {
float:right;
width: 100px;
}
.newsticker {
width: 100%;
}
.newsticker li {
background: url("../images/news.png") no-repeat scroll left center rgba(0, 0, 0, 0);
float: left;
padding-left: 35px;
width: 275px;
}
#bar_footer {
bottom: 0;
box-shadow: 0 10px 10px #999;
position: fixed;
right: 5px;
width: 235px;
z-index: 100;
}
#bar_footer {
bottom: 0;
box-shadow: 0 10px 10px #999;
position: fixed;
right: 5px;
width: 235px;
z-index: 100;
}
#bar_footer .hotline {
background: url("../images/f_hotline.png") no-repeat scroll right top #53b6f4;
color: #fff;
cursor: pointer;
font-family: "Segoe UI",Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 18px;
font-weight: bold;
height: 24px;
padding: 6px 40px 6px 10px;
position: relative;
}
#bar_footer .hotline .ic {
background: url("../images/ic_support.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height: 72px;
position: absolute;
right: 0;
top: -72px;
width: 218px;
}
#bar_footer .hotline span {
float: left;
padding-right: 10px;
text-shadow: 1px 0 1px #de4a4a;
}
#bar_footer .hotline b {
font-size: 13px;
font-weight: 100;
}
#bar_footer .bar-content {
background: none repeat scroll 0 0 #53b6f4;
clear: both;
display: none;
padding: 2px;
}
.bar-content > ul {
background: none repeat scroll 0 0 #fff;
border-radius: 5px;
padding: 5px;
}
.bar-content li {
margin-bottom: 10px;
overflow: hidden;
}
.bar-content .avatar {
border-radius: 100%;
display: block;
float: left;
height: 40px;
margin-right: 10px;
overflow: hidden;
width: 40px;
}
.bar-content .name {
color: #2339c4;
font-family: "Segoe UI",Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 14px;
font-weight: bold;
margin-bottom: 5px;
}
.bar-content .nick {
overflow: hidden;
}
.bar-content .nick span, .bar-content .nick a {
float: left;
margin-right: 5px;
}
.bar-content .nick span {
color: #0881c4;
font-family: "Segoe UI",Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 12px;
font-weight: bold;
line-height: 13px;
}
div.error {
color: #cf0911;
font-size: 11px;
}
h2.danhgiatour{
background: url(../images/bg_bar_top.png) repeat-x bottom;
padding: 7px 10px;
border-radius: 3px 3px 0px 0px;
color: #FFF;
font-family: "utm_swiss";
text-transform: uppercase;
font-size: 15px; 
text-align: center;
margin-top: 5px;
}
.module_green .mid{
background: #FFF;
border: 1px solid #d1d1d1;
border-top: 0px;
}
.danhgia .small-star .current-rating{
background: url(../images/star01.png) repeat-x;
height: 16px;
}
.site_loichao {
color: #0fd504;
font-family: "avo";
font-size: 15px;
font-weight: bold;
text-align: center;
width: 100%;
}
.site_hotline {
color: red;
font-family: "avo";
font-size: 14px;
font-weight: bold;
padding-top: 5px;
text-align: center;
width: 100%;
}
span.tour {
border: 1px solid #ddd;
padding: 3px 5px;
border-radius: 5px;
float: right;
}
span.tour:hover {
background: #2AC515 ;
}
span.tour:hover a.readmore {
color: #fff;
}
.tour-hot .list-tour{
list-style: none outside none;
margin: 10px 0px;
padding: 0;
width: 259px;
overflow: hidden;
float: left;
height: 280px;
margin-right: 34px;   
}
.list-tour:last-child{
margin-right: 0px;
}
.tour-hot .list-tour img {
width: 270px;
height: 182px;
}
.tour-hot .list-tour h2 {
margin: 0px;
background: #a9eaf5;
height: 38px;
padding: 1px 8px;
line-height: 40px;
}
.tour-hot .list-tour a{
font-size: 13px;
color: #353535;
font-weight: bold;
line-height: 1.4em;
float: left;
width: 100%;
}
.tour-hot .list-tour .khoi-hang {
font-size: 14px;
color: #292929;
padding: 5px 0px 1px 0px;
}
.tour-hot .list-tour .gia {
font-size: 16px;
color: #fe0000;
font-weight: bold;
}
footer a{
color:#D1FF37;
}
.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
@media screen and (min-width: 768px) {
#adv-search {
width: 300px;
margin-top:10px;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 500px;
}
.mangxahoi h2.title {
padding: 7px 10px;
border-radius: 3px 3px 0px 0px;
border-bottom: 1px solid #ccc;
color: red;
text-transform: uppercase;
font-family: "Tohama";
font-size: 14px;
text-align: center;
margin-bottom: 10px
}