/* Style  base */

body {
  background: url("../../images/images-app/background-body.jpg") repeat;
  font-family: $base-font-family;
  font-size: 14px;
  line-height: 1.7em;
  color: $base-font-color;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: $base-font-color;
  text-decoration: none;
  &:focus{
    outline-style: none;
    text-decoration: none;
  }
}

ul,li {
  list-style: none;
}
