/*Font style*/

$base-font-size: 15px;
$base-font-color: #fff;
$base-font-family: verdana,sans-serif;
/*Color style*/

$black-color: #333;
$red-color: #E62E00;
$blue-color: #00aff0;
$green-color: #81B900;
$orange-color: #EF760B;
$brows-color: #ccc;
$url-image-aside: '../../images/images-app/icon-aside.png';
$url-image-control: '../../images/images-app/icons-control.png';