/*
style.css

Colors:
Back: #000000;
Darker Gray: #222222;
Dark Gray:#333333;
Gray:#444444;
Light Gray: #eeeeee;
Light Blue: #99c0ff;
Dark Blue : #0090bf;
Oganzie :#FF9900;
Green-yellow:#98CA47;
Blue:#006699;
*/
/* =======================
		General Styles
 =========================*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #444444;
}

 /* =======================
		Typography
 =========================*/
h1, h2, h3 {
	font-weight: 300;
	margin: 0px;
	line-height: 45px;
}
h4, h5, h6 {
	font-weight: bold;
	margin: 5px 0px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
	margin:10px 0px;
}
h5 {
	font-size: 13px;
	margin: 0px;
	text-transform: uppercase;
}

p {
	margin:0px 0px 10px 0px;
}
p.lead {
font-weight: 300;
margin: 0px;
line-height: 24px;
font-size: 18px;
}

 /* =======================
		Layout
 =========================*/
.container{
	width: 940px;
	margin:0px auto;
	padding:0px 10px;
}

header {
	background: #fff;
}
#logo	{
	display: block;
	margin:12px 0px;
	float: left;
}
#hero {
	background: #FF9900;
	margin-bottom: 40px;
}
#hero-title {
	width: 520px;
	padding: 60px 0px;
	float: left;
}
.hero-image{
	float: right;
	margin:10px 0px -30px 0px;
}

 /* =======================
		Navigation
 =========================*/
nav ul {
	padding:0px;
	margin:0px;
	float: right;
}

nav ul li {
	float: left;
	list-style: none;	
}
header nav ul li a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 20px;
	border-left: 1px solid #ccc;
	font-weight: bold;
	font-size: 14px;
}
header nav ul li a:hover {
	background: #FFC672;
}
header nav ul li a:active {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
		 -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
		   -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
}

 /* =======================
		Slution
 =========================*/
.btn{
	color:#fff;
	text-decoration: none;
	font-size: 15px;
	padding: 10px 20px 11px;
	width: auto;
	background: #98CA47;
	margin-top:30px;
	border-radius: 5px;
	text-align: center;
	position: relative;

	/*Fancy box-shadow*/
	-webkit-box-shadow: 0 1px 0 rgba(225, 225, 225, 0.5) inset;
		 -moz-box-shadow: 0 1px 0 rgba(225, 225, 225, 0.5) inset;
	    -ms-box-shadow: 0 1px 0 rgba(225, 225, 225, 0.5) inset;
	     -o-box-shadow: 0 1px 0 rgba(225, 225, 225, 0.5) inset;
	        box-shadow: 0 1px 0 rgba(225, 225, 225, 0.5) inset;


	/*CSS3 Transtion*/
	-webkit-transition: background-color 0.15s ease-in-out;
	     -o-transition: background-color 0.15s ease-in-out;
	        transition: background-color 0.15s ease-in-out;
	
}
.btn:hover {
	color:#333;
	background: #ccc;
}
.btn:active {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
}
.btn-large{
	padding:15px 20px;
	font-size: 18px;
	font-weight: 200;
}
.btn-secondary, .btn-secondary:hover , .btn-secondary:active {
	background: none;
	border: none;
	box-shadow: none;
}
.btn-secondary:hover {
	text-decoration: underline;
	color: #fff;	
}
#hero-title h4{
margin-bottom: 40px;
font-weight: 200;
color: #fff;
font-style: normal;
}
#hero-title h1{
	color:#fff;
	font-size: 24px;
	text-transform: uppercase;

}
#content {
	padding: 60px 0px;
}
/* =======================
		aside Styles
 =========================*/
aside {
	background: #fff;
	border: 1px solid #ccc;
	color: #444;
	width: 158px;
	float: right;
	padding: 30px;
}
aside .socials a{
	position: relative;
	margin-right: 5px;
}
aside .socials a:hover {
	top:-1px;
}

/* =======================
		Secondary Call-to-action
 =========================*/
.secondary-cta {
	background: #eee;
	padding:30px 0px;
}
.secondary-cta h4 {
	font-size: 20px;
	float: left;
	font-weight: 200;
}
.secondary-cta form {
	float: right;
	padding:0px;
	margin: 0px;
}
input[type="text"], input[type="email"] {
	padding:10px 10px 12px;
	width: 220px;
	border:1px solid #ccc;
} 
.secondary-cta .btn {
	margin: 0px;
}

 /* =======================
		Footer Styles
 =========================*/
footer {
	background: #444;
	color: #fff;
	padding:40px 0px;
}

footer #copyright {
	width: 260px;
	float: left;
}
footer nav {
	float: right;
	width: 380px;

}

footer a{
	color:#fff;
	text-decoration: none;
	margin-left:20px;
}


 /* =======================
		Global Styles
 =========================*/
 .colum-content {
	width: 700px;
	float: left;
	margin-right: 20px;
}

.four {
	width: 220px;
}
.colum {
	float:left;
	margin-right: 20px; 
}
.last {
	margin-right: 0px;
}
.lead-in {
	margin-bottom: 20px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
