﻿<div class="full-content-center animated fadeInDownBig">
    <p class="text-center"><a href="#"><img src="~/Scripts/SecondTheme/assets/img/logo.png" alt="Logo"></a></p>
    <div class="login-wrap">
        <div class="login-block">
            <form role="form" name="frm" novalidate>
                <div class="form-group login-input"   >
                    <input type="radio" name="TypeOfRegister" value="1" ng-model="Member.TypeOfRegister" checked="checked" />Física
                    <input type="radio" name="TypeOfRegister" value="2" ng-model="Member.TypeOfRegister" />Jurídica
                    @*<input type="radio" name="TypeOfRegister" value="3" ng-model="Member.TypeOfRegister" />Estrangeiro*@
                </div>

                <div class="form-group login-input" ng-show="Member.TypeOfRegister==2">
                    <i class="fa fa-user overlay"></i>
                    <input type="text" class="form-control text-input" name="RazaoSocial" ng-model="Member.RazaoSocial" placeholder="Razao Social" ng-required="Member.TypeOfRegister==2">
                    <span style="color: #ffff" ng-show="Submitted && frm.RazaoSocial.$error.required && Member.TypeOfRegister==2">
                        Este campo é obrigatório.
                    </span>
                </div>

                <div class="form-group login-input" ng-show="Member.TypeOfRegister==1">
                    <i class="fa fa-user overlay"></i>
                    <input type="text" class="form-control text-input" name="Name" ng-model="Member.Name" placeholder="Nome" ng-required="Member.TypeOfRegister==1">
                    <span style="color: #ffff" ng-show="Submitted && frm.Name.$error.required">
                        Este campo é obrigatório.
                    </span>
                </div>

                <div class="form-group login-input" ng-show="Member.TypeOfRegister==1">
                    <i class="fa fa-user overlay"></i>
                    <input type="text" class="form-control text-input" name="LastName" ng-model="Member.LastName" placeholder="Sobrenome">
                </div>     

                <div class="form-group login-input">
                    <i class="fa fa-envelope overlay"></i>
                    <input type="text" class="form-control text-input" name="Email" ng-model="Member.Email" placeholder="Email address" autofocus required valid-email>
                    <span style="color: #ffff" ng-show="Submitted && frm.Email.$error.required">
                        Este campo é obrigatório.
                    </span>
                    <span style="color: #ffff" ng-show="Submitted && !frm.Email.$error.required && frm.Email.$error.validemail">
                        E-Mail Inválido.
                    </span>
                </div>

                <div class="form-group login-input">
                    <i class="fa fa-unlock overlay"></i>
                    <input type="password" class="form-control text-input" name="Password" ng-model="Member.Password" placeholder="Password" ng-minlength="6" required>
                    <span style="color: #ffff" ng-show="Submitted && frm.Password.$error.required">Este campo é obrigatório.</span>
                    <span style="color: #ffff" ng-show="Submitted && !frm.Password.$error.required && frm.Password.$error.minlength">O comprimento da senha deve ter de 6 a 10 caracteres.</span>
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-unlock-alt overlay"></i>
                    <input type="password" class="form-control text-input" name="ConfirmPassword" ng-minlength="6" ng-model="Member.ConfirmPassword" compare-password comparewith="Member.Password" placeholder="Confirm password" required>
                    <span style="color: #ffff" ng-show="Submitted && frm.ConfirmPassword.$error.required">Este campo é obrigatório.</span>
                    <span style="color: #ffff" ng-show="Submitted && !frm.Password.$error.required && frm.ConfirmPasswod.$error.minlength">O comprimento da senha deve ter de 6 a 10 caracteres.</span>
                    <span style="color: #ffff" ng-show="Submitted && !frm.ConfirmPasswod.$error.required && frm.$error.comparepassword">Confirme a senha não correspondem.</span>
                </div>  

                <div class="form-group login-input" ng-show="Member.TypeOfRegister==1 ">
                    <i class="fa fa-road overlay"></i>
                    <input type="text" class="form-control text-input" name="CPF" ng-model="Member.CPF" placeholder="CPF(768.988.121-14)" input-mask="{mask:'999.999.999-99'}" ng-type="commonmask" ng-required="Member.TypeOfRegister==1">
                    <span style="color: #ffff" ng-show="Submitted && frm.CPFORCNPJ.$error.required">Este campo é obrigatório.</span>
                 </div>

                <div class="form-group login-input" ng-show="Member.TypeOfRegister == 2">
                    <i class="fa fa-road overlay"></i>
                    <input type="text" class="form-control text-input" name="CNPJ" ng-model="Member.CNPJ" placeholder="CNPJ(77.281.743/0001-01)" input-mask="{mask:'99.999.999/9999-99'}" ng-type="commonmask" ng-required="Member.TypeOfRegister==2">
                    <span style="color: #ffff" ng-show="Submitted && frm.CPFORCNPJ.$error.required">Este campo é obrigatório.</span>
                </div>
               
                <div class="form-group login-input" ng-show=" Member.TypeOfRegister == 3">
                    <i class="fa fa-road overlay"></i>
                    <input type="text" class="form-control text-input" name="Passaporte" ng-model="Member.Passaporte" placeholder="Passaporte" ng-required="Member.TypeOfRegister == 3">
                    <span style="color: #ffff" ng-show="Submitted && frm.Passaporte.$error.required">Este campo é obrigatório.</span>
                </div> 

                <div class="form-group login-input" ng-show="Member.TypeOfRegister==1">
                    <input type="text" class="form-control datepicker-input" name="DateOfBirth" ng-model="Member.DateOfBirth" placeholder="dd/mm/aaaa" date-picker="" ng-required="Member.TypeOfRegister==1" input-mask="{mask:'99/99/9999'}" ng-type="commonmask">
                   
                    <span style="color: #ffff" ng-show="Submitted && frm.DateOfBirth.$error.required">Este campo é obrigatório.</span>
                </div>

                <div class="form-group login-input" ng-show="Member.TypeOfRegister==2">
                    <i class="fa fa-users overlay"></i>
                    <select class="form-control text-input" name="Contribuinte" ng-model="Member.Contribuinte" ng-required="Member.TypeOfRegister==2">
                        <option value="">Selecione Contribuinte...</option>
                        <option value="0" selected>Não</option>
                        <option value="1">Sim</option>
                    </select>
                    <span style="color: #ffff" ng-show="Submitted && frm.Contribuinte.$error.required">Este campo é obrigatório.</span>
                </div>

                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <input type="tel" class="form-control text-input" name="TELEFONE" ng-model="Member.TELEFONE" placeholder="Telefone" input-mask="{mask:'(99)999999'}" ng-type="commonmask" required>
                    <span style="color: #ffff" ng-show="Submitted && frm.TELEFONE.$error.required">Este campo é obrigatório.</span>
                </div>


                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <input type="tel" class="form-control text-input" name="CELULAR" ng-model="Member.CELULAR" placeholder="Celular" input-mask="{mask:'(99)999999'}" ng-type="commonmask">
                </div>

                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <input type="tel" class="form-control text-input" name="OutroTelefone" ng-model="Member.OutroTelefone" placeholder="Outro Telefone" input-mask="{mask:'(99)999999'}" ng-type="commonmask">
                </div>
 

                <div class="form-group login-input">
                    <i class="fa fa-road overlay"></i>
                    <input type="text" class="form-control text-input" name="ZipCode" ng-model="Member.ZipCode" placeholder="CEP(12020-220)" required input-mask="{mask:'99999-999'}" ng-type="commonmask">
                    <span style="color: #ffff" ng-show="Submitted && frm.ZipCode.$error.required">
                        Este campo é obrigatório.
                    </span>
                </div> 
               
              
                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <input type="text" class="form-control text-input" name="ENDERECO" ng-model="Member.ENDERECO" placeholder="Endereço" required>
                    <span style="color: #ffff" ng-show="Submitted && frm.ENDERECO.$error.required">Este campo é obrigatório.</span>
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <input type="text" class="form-control text-input" name="NUMERO" ng-model="Member.NUMERO" placeholder="Número" required>
                    <span style="color: #ffff" ng-show="Submitted && frm.NUMERO.$error.required">Este campo é obrigatório.</span>
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <input type="text" class="form-control text-input" name="COMPLEMENTO" ng-model="Member.COMPLEMENTO" placeholder="Complemento" required>
                    <span style="color: #ffff" ng-show="Submitted && frm.COMPLEMENTO.$error.required">Este campo é obrigatório.</span>
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <input type="text" class="form-control text-input" name="BAIRRO" ng-model="Member.BAIRRO" placeholder="Bairro" required>
                    <span style="color: #ffff" ng-show="Submitted && frm.BAIRRO.$error.required">Este campo é obrigatório.</span>
                </div>

                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <input type="text" class="form-control text-input" name="CIDADE" ng-model="Member.CIDADE" placeholder="Cidade" required>
                    <span style="color: #ffff" ng-show="Submitted && frm.CIDADE.$error.required">Este campo é obrigatório.</span>
                </div>

                <div class="form-group login-input">
                    <i class="fa fa-users overlay"></i>
                    <select class="form-control text-input" name="ESTADO" ng-model="Member.ESTADO" required>
                        <option value="">Selecione Estado...</option>
                        <option value="AC" selected>Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Su</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                    <span style="color: #ffff" ng-show="Submitted && frm.ESTADO.$error.required">Este campo é obrigatório.</span>
                </div>
                 
              

                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" ng-click="Save(frm.$valid)" class="btn btn-default btn-block">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div> 
</div>
 