﻿<div class="full-content-center">
    <p class="text-center"><a href="#"><img src="/Scripts/SecondTheme/assets/img/login-logo.png" alt="Logo"></a></p>
    <div class="login-wrap animated flipInX">
        <div class="login-block">
            <img src="/Scripts/SecondTheme/images/users/user-35.png" class="img-circle not-logged-avatar">
            <form role="form" name="frm" novalidate>
                <div class="form-group login-input">
                    <i class="fa fa-user overlay"></i>
                    <input type="text" class="form-control text-input" name="username" ng-model="LoginUser.username" placeholder="Email" required autofocus>
                    <span style="color:#c23e3e" ng-show="Submitted && frm.password.$error.required">Este campo é obrigatório.</span>
                </div>
                <div class="form-group login-input">
                    <i class="fa fa-key overlay"></i>
                    <input type="password" class="form-control text-input" name="password" ng-model="LoginUser.password" placeholder="Password" required>
                    <span style="color:#c23e3e" ng-show="Submitted && !LoginUser.IsSuccess">Nome de usuário ou senha inválida , por favor, tente novamente.</span>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-success btn-block" ng-click="Login(frm.$valid)" id="btnLogin">ENTRAR</button>
                    </div>
                    <div class="col-sm-6">
                        <a href="/Account/Index#/Account/Register" class="btn btn-default btn-block">Registrar</a>
                    </div>
                </div>
            </form>
        </div>
    </div> 
</div>

<script>
    $(document).keypress(function (e) {
        if (e.which == 13) {
            $("#btnLogin").click();
        }
    });
</script>
 
