/* Style main-content */
.main-content {
  height:460px;
}

.content {
  a {
    color: $green-color;
    font-size: 13px;
    font-weight: bold;
    font-family: $base-font-family;
  }
}

/* Style post content */
.post-content {
  height: 218px;
  margin-bottom: 5px;
}

.post-0 {
  img {
    @include size(100%, 120px);
    @include transition(all, 0.7s, ease);
  }
}

.post-1, .post-2, .post-3, .post-4, .post-5, .post-6, .post-7, .post-8, .post-9 {
  @extend .post-0;
}

/* Style main details.html */

.main-details {
  margin: 20px;
  .blogs-content {
    @include border-radius(10px);
    @extend .main-content;
    background: $base-font-color;
    
  }
}

/* Style title post*/

.title-post {
  color: $black-color;
  border-bottom: 1px solid $brows-color;
  a {
    color: $green-color;
    font-size:13px;
    font-weight: bold;
  }
}

/* Style image post */

.image-post {
  img {
    @include size(177px,115px);
    margin: 20px 20px 20px 0px;
  }
}

.text-news {
  p {
    color: $black-color;
    font-size: 15px;
    margin-right: 20px;
    text-align: justify;
  }
  img{
    @include size(500px, auto);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* style home page*/
.home-page {
  background: url("../../images/images-app/watch-tv1.jpg") no-repeat;
}

.logo-news {  
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,0.94) 12%, rgba(102,102,102,0.88) 25%, rgba(71,71,71,0.81) 39%, rgba(44,44,44,0.75) 50%, rgba(0,0,0,0.75) 51%, rgba(17,17,17,0.7) 60%, rgba(43,43,43,0.62) 76%, rgba(28,28,28,0.55) 91%, rgba(19,19,19,0.5) 100%);
  padding: 20px;
  margin: 300px auto;
  width: 900px;
  height: 80px;
  img {
    margin-left: 344px;
    margin-top: -101px;
    @include box-shadow(0, 8px, 6px, -6px, #fff);
    }
}

