/* Style main footer */

.main-footer {
  height: 50px;
  margin-left: 20px;
  .logo {
    img {
      @include size(170px, 40px);
    }
  }
}

/* Style sidebar */

.sub-nav {
  @include margin-left('li',30px);
  margin-right: 10px;
  padding: 10px 0px 0px 0px;
}
.footer-home {
  background-color: rgba(0, 25, 39, 0.4); 
  width: 100%;
  text-align: right;
  padding:10px;
}
.icons-control {
  background: url($url-image-control) no-repeat;
}

.next-page {
  background-position: 0px 0px;
  @include margin-left('a',60px);
}

.read-more {
  background-position: 0px -65px;
  @include margin-left('a',30px);
}

.source {
  background-position: 0px -101px;
  @include margin-left('a',30px);
}

.more {
  background-position: 0px -140px;
  @include margin-left('a',30px);
}

.select {
  background-position: 0px -212px;
  @include margin-left('a',30px);
}

.back {
  background-position: 0px -255px;
  @include margin-left('a',30px);
}
.exit{
  background-position: 0px -295px;
  @include margin-left('a',30px);
}
.categories {
  background-position:0px -30px;
  @include margin-left('a',30px);
}

.next-read {
  background-position: 0px -176px;
  @include margin-left('a',30px);

}
.number-page {
  background: $green-color;
  color: $base-font-color;
  padding: 5px;
}