/* Style sidebar*/

.sidebar {
  height: auto;
 background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #076AB5),color-stop(1, #2793D1));
  li {
    padding: 10px 5px;
  }
}
.sidebar {
  a{
    color: $base-font-color;
    margin-left: 40px;
    &:hover {
      text-decoration: none;
      color: $green-color;
    }
    &:focus {
      color: $green-color;
    }
  }
}

/* Style class categories*/

.nav {
  width: 111%;
  margin-left: -10px;
  
}

.menu {
  background: url($url-image-aside) no-repeat;
}
.navi_1 {
  background-position: 10px -460px;
}
.navi_2 {
  background-position: 10px -248px;
}
.navi_3 {
  background-position: 10px -90px;
}
.navi_4 {
  background-position: 10px -168px;
}
.navi_5 {
  background-position: 10px -50px;
}
.navi_6 {
  background-position: 10px -128px;
}
.navi_7 {
  background-position: 10px -206px;
}
.navi_8 {
  background-position: 10px -290px;
}
.navi_9 {
  background-position: 10px -498px;
}
.navi_10 {
  background-position: 10px -373px;
}