﻿<!doctype html>
<html class="no-js" lang="" ng-app="GuardianApp">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Flat, Clean, Responsive, application admin template built with bootstrap 3">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- /meta -->

    <title>Mapping Building</title>

    <!-- page level plugin styles -->
    <link rel="stylesheet" href="/Themes/plugins/jvectormap/jquery-jvectormap-2.0.1.css">
    <!-- /page level plugin styles -->
    <!-- page level plugin styles -->
    <link rel="stylesheet" href="/Themes/plugins/stepy/jquery.stepy.css">
    <link rel="stylesheet" href="/Themes/plugins/chosen/chosen.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    @*<link rel="stylesheet" href="/Themes/plugins/datatables/jquery.dataTables.css">*@
    <!-- /page level plugin styles -->
    <!-- core styles -->
    <link rel="stylesheet" href="/Themes/bootstrap/css/bootstrap.min.css"> 
    <!-- /core styles --> 

    <!-- angularjs script-->
    @Scripts.Render("~/bundles/angularjs")
    <!-- bootstrap angularjs script-->
    <script src="/Scripts/angularjs/ui-bootstrap-tpls-0.10.0.min.js" type="text/javascript"></script> 
    <!-- script controller-->
    @Scripts.Render("~/bundles/app")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- load modernizer -->
    <script src="/Themes/plugins/modernizr.js"></script> 

</head>

<!-- body -->

<body ng-controller="MappingMasterController as Master">

    <div class="app" >
        <!-- top header -->
        <header class="header header-fixed navbar">

            <div class="brand">
                <!-- toggle offscreen menu -->
                <a href="javascript:;" class="ti-menu off-left visible-xs" data-toggle="offscreen" data-move="ltr"></a>
                <!-- /toggle offscreen menu -->

                <!-- logo -->
                <a href="index.html" class="navbar-brand">
                    <img src="/Themes/img/logo.png" alt="">
                    <span class="heading-font">Sublime
                    </span>
                </a>
                <!-- /logo -->
            </div>

            <ul class="nav navbar-nav">
                <li class="hidden-xs">
                    <!-- toggle small menu -->
                    <a href="javascript:;" class="toggle-sidebar">
                        <i class="ti-menu"></i>
                    </a>
                    <!-- /toggle small menu -->
                </li>
                <li class="header-search">
                    <!-- toggle search -->
                    <a href="javascript:;" class="toggle-search">
                        <i class="ti-search"></i>
                    </a>
                    <!-- /toggle search -->
                    <div class="search-container">
                        <form role="search">
                            <input type="text" class="form-control search" placeholder="type and press enter">
                        </form>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown hidden-xs">
                    <a href="javascript:;" data-toggle="dropdown">
                        <i class="ti-more-alt"></i>
                    </a>
                    <ul class="dropdown-menu animated zoomIn">
                        <li class="dropdown-header">Quick Links</li>
                        <li>
                            <a href="javascript:;">Start New Campaign</a>
                        </li>
                        <li>
                            <a href="javascript:;">Review Campaigns</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;">Settings</a>
                        </li>
                        <li>
                            <a href="javascript:;">Wish List</a>
                        </li>
                        <li>
                            <a href="javascript:;">Purchases History</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;">Activity Log</a>
                        </li>
                        <li>
                            <a href="javascript:;">Settings</a>
                        </li>
                        <li>
                            <a href="javascript:;">System Reports</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;">Help</a>
                        </li>
                        <li>
                            <a href="javascript:;">Report a Problem</a>
                        </li>
                    </ul>
                </li>

                <li class="notifications dropdown">
                    <a href="javascript:;" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        <div class="badge badge-top bg-danger animated flash">
                            <span>3</span>
                        </div>
                    </a>
                    <div class="dropdown-menu animated fadeInLeft">
                        <div class="panel panel-default no-m">
                            <div class="panel-heading small">
                                <b>Notifications</b>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <span class="pull-left mt5 mr15">
                                            <img src="/Themes/img/faceless.jpg" class="avatar avatar-sm img-circle" alt="">
                                        </span>
                                        <div class="m-body">
                                            <div class="">
                                                <small><b>CRYSTAL BROWN</b></small>
                                                <span class="label label-danger pull-right">ASSIGN AGENT</span>
                                            </div>
                                            <span>Opened a support query</span>
                                            <span class="time small">2 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <div class="pull-left mt5 mr15">
                                            <div class="circle-icon bg-danger">
                                                <i class="ti-download"></i>
                                            </div>
                                        </div>
                                        <div class="m-body">
                                            <span>Upload Progress</span>
                                            <div class="progress progress-xs mt5 mb5">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                </div>
                                            </div>
                                            <span class="time small">Submited 23 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <span class="pull-left mt5 mr15">
                                            <img src="~/Themes/img/faceless.jpg" class="avatar avatar-sm img-circle" alt="">
                                        </span>
                                        <div class="m-body">
                                            <em>Status Update:</em>
                                            <span>All servers now online</span>
                                            <span class="time small">5 days ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                            <div class="panel-footer">
                                <a href="javascript:;">See all notifications</a>
                            </div>
                        </div>
                    </div>
                </li>

                 
            </ul>

        </header>
        <!-- /top header -->

        <section class="layout">
            <!-- sidebar menu -->
            <aside class="sidebar offscreen-left">
                <!-- main navigation -->
                <nav class="main-navigation" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
                    <p class="nav-title">MENU</p>
                    <ul class="nav">
                    @*    <!-- dashboard -->
                        <li>
                            <a href="/Home/Index#/Home/GenerateScript">
                                <i class="ti-home"></i>
                                <span>Generate Script</span>
                            </a>
                        </li>
                        <!-- /dashboard -->

                        <!-- ui -->
                        <li>
                            <a href="javascript:;">
                                <i class="toggle-accordion"></i>
                                <i class="ti-layout-media-overlay-alt-2"></i>
                                <span>Network Scan</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/Home/Index#/Home/RegisterOnlineScan">
                                        <span>Setting</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Index#/Home/ScanProgress">
                                        <span>Scan</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Index#/Home/History">
                                        <span>History</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /ui -->

                        <!-- Components -->
                        <li>
                            <a href="javascript:;">
                                <i class="toggle-accordion"></i>
                                <i class="ti-support"></i>
                                <span>My Account</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/Home/Index#/Home/Profile">
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery.html">
                                        <span>Gallery</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="sortable.html">
                                        <span>Sortable &amp; Nestable Lists</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="chart.html">
                                        <span>Charts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="progress_slider.html">
                                        <span>Progress bars &amp; Sliders</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tree.html">
                                        <span>Tree View</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="notifications.html">
                                        <span>Notifications</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="animated.html">
                                        <span>Animated Elements</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tour.html">
                                        <span>Tour</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /components -->*@


                    </ul>
                </nav>
            </aside>
            <!-- /sidebar menu -->
            <!-- main content -->
            <section class="main-content">

                <!-- content wrapper -->
                <div class="content-wrap">
                    <!-- inner content wrapper -->
                    <div class="wrapper no-p">
                        @RenderBody()
                    </div>
                    <!-- /inner content wrapper -->
                </div>
                <!-- /content wrapper -->
                <a class="exit-offscreen"></a>
            </section>
            <!-- /main content -->
        </section>
    </div>
    
    <!-- core scripts -->
    <script src="/Themes/plugins/jquery-1.11.1.min.js"></script>
    <script src="/Themes/bootstrap/js/bootstrap.js"></script>
    <script src="/Themes/plugins/jquery.slimscroll.min.js"></script>
    <script src="/Themes/plugins/jquery.easing.min.js"></script>
    <script src="/Themes/plugins/appear/jquery.appear.js"></script>
    <script src="/Themes/plugins/jquery.placeholder.js"></script>
    <script src="/Themes/plugins/fastclick.js"></script>
    <!-- /core scripts -->
    @Scripts.Render("~/bundles/chathub")
    <!--SignalR-->
    <script src="~/signalr/hubs"></script>
    <!-- page level scripts -->
    <script src="/Themes/plugins/jquery.blockUI.js"></script>
    <script src="/Themes/plugins/jvectormap/jquery-jvectormap-2.0.1.min.js"></script>
    
    <script src="/Themes/plugins/jquery.sparkline.js"></script>
    <script src="/Themes/plugins/flot/jquery.flot.js"></script>
    <script src="/Themes/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/Themes/plugins/count-to/jquery.countTo.js"></script>
    <!-- /page level scripts -->


    <script src="/Themes/plugins/flot/jquery.flot.categories.js"></script>


    <!-- page level scripts -->
    <script src="/Themes/plugins/stepy/jquery.validate.min.js"></script>
    <script src="/Themes/plugins/stepy/jquery.stepy.js"></script>
    <script src="/Themes/plugins/fuelux/wizard.js"></script>
    <script src="/Themes/plugins/chosen/chosen.jquery.min.js"></script>
    <!-- /page level scripts -->

     <!-- page level scripts --> 
     <script src="/Themes/plugins/jvectormap/jquery-jvectormap-custome-map-en.js"></script>
    <script src="/Scripts/jVectorMap/B143159.js"></script>
    <script src="/Scripts/jVectorMap/B160187.js"></script>
    <script src="/Scripts/jVectorMap/CampBlock18_21.js"></script>
    <script src="/Scripts/jVectorMap/CampBlockR_10_13.js"></script>
    <script src="/Scripts/jVectorMap/CampBlockR_14_17.js"></script>
    <script src="/Scripts/jVectorMap/CampBlockR_5_9.js"></script>
    <script src="/Scripts/jVectorMap/campR_1_4.js"></script>
    <script src="/Scripts/jVectorMap/campY_91_98.js"></script>
    <script src="/Scripts/jVectorMap/CampY113-142.js"></script>
    <script src="/Scripts/jVectorMap/CR2225.js"></script>
    <script src="/Scripts/jVectorMap/FBlock.js"></script>
    <script src="/Scripts/jVectorMap/G5277.js"></script>
    <script src="/Scripts/jVectorMap/G7881.js"></script>
    <script src="/Scripts/jVectorMap/G8285.js"></script>
    <script src="/Scripts/jVectorMap/G8690.js"></script>
    <script src="/Scripts/jVectorMap/R2651.js"></script>

    <script src="/Scripts/jVectorMap/StableA.js"></script>
    <script src="/Scripts/jVectorMap/StableB.js"></script>
    <script src="/Scripts/jVectorMap/StableBlockC.js"></script>
    <script src="/Scripts/jVectorMap/StableBlockE.js"></script>
    <script src="/Scripts/jVectorMap/StableD.js"></script>
    <script src="/Scripts/jVectorMap/UnPowerCampsite(previous).js"></script>
    <script src="/Scripts/jVectorMap/UnPowerCampsite(jitendra 2).js"></script>
    <script src="/Scripts/jVectorMap/UnPowerCampsite(jitendra 3).js"></script>
    <script src="/Scripts/jVectorMap/UnPowerCampsite(jitendra 4).js"></script>
    <script src="/Scripts/jVectorMap/UnPowerCampsite(jitendra).js"></script>
    <script src="/Scripts/jVectorMap/UnPowerCampsite(lloyd).js"></script>
    <script src="/Scripts/jVectorMap/UnPowerCampsite.js"></script>
    <script src="/Scripts/jVectorMap/Y99_112.js"></script>
    <script src="/Scripts/jVectorMap/Y99112.js"></script>
    <!-- /page level scripts -->

    <!-- jquery inputmask-->
    <script src="/Themes/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

    <!-- page level scripts -->

     
    
</body>
<!-- /body -->

</html>

