﻿<!doctype html>
<html class="no-js" lang="" ng-app="GuardianApp">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Flat, Clean, Responsive, application admin template built with bootstrap 3">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- /meta -->

    <title>Sublime - Web Application Admin Dashboard</title>

    
    <!-- page level plugin styles -->
    <link rel="stylesheet" href="/Themes/plugins/stepy/jquery.stepy.css">
    <link rel="stylesheet" href="/Themes/plugins/chosen/chosen.min.css">
    <link rel="stylesheet" href="/Themes/plugins/datatables/jquery.dataTables.min.css">
    @*<link rel="stylesheet" href="/Themes/plugins/datatables/jquery.dataTables.css">*@
    <!-- /page level plugin styles -->
    <!-- core styles -->
    <link rel="stylesheet" href="/Themes/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Themes/css/font-awesome.css">
    <link rel="stylesheet" href="/Themes/css/themify-icons.css">
    <link rel="stylesheet" href="/Themes/css/animate.min.css">
    <!-- /core styles -->





    <!-- template styles -->
    <link rel="stylesheet" href="/Themes/css/skins/palette.css" id="skin">
    <link rel="stylesheet" href="/Themes/css/fonts/font.css">
    <link rel="stylesheet" href="/Themes/css/main.css">
    <!-- template styles -->
    <!-- angularjs script-->
    
    <script src="/Scripts/angularjs/angular.js" type="text/javascript"></script>
    <script src="/Scripts/angularjs/angular-resource.js" type="text/javascript"></script>
    <script src="/Scripts/angularjs/angular-route.js" type="text/javascript"></script>
    <script src="/Scripts/angularjs/angular-route.js" type="text/javascript"></script>

    <!-- bootstrap angularjs script-->
    <script src="/Scripts/angularjs/ui-bootstrap-tpls-0.10.0.min.js" type="text/javascript"></script>
    @*<link rel="stylesheet" href="https://rawgithub.com/McNull/angular-block-ui/v0.0.7/angular-block-ui.min.css" />
    <script src="https://rawgithub.com/McNull/angular-block-ui/v0.0.7/angular-block-ui.min.js"></script>*@
    <!-- script controller-->
    @Scripts.Render("~/bundles/app")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- load modernizer -->
    <script src="/Themes/plugins/modernizr.js"></script>


</head>

<!-- body -->

<body>

    <div class="app small-menu" ng-controller="MasterController as Master">
        <!-- top header -->
        <header class="header header-fixed navbar">

            <div class="brand">
                <!-- toggle offscreen menu -->
                <a href="javascript:;" class="ti-menu off-left visible-xs" data-toggle="offscreen" data-move="ltr"></a>
                <!-- /toggle offscreen menu -->

                <!-- logo -->
                <a href="index.html" class="navbar-brand">
                    <img src="/Themes/img/logo.png" alt="">
                    <span class="heading-font">Sublime
                    </span>
                </a>
                <!-- /logo -->
            </div>

            <ul class="nav navbar-nav">
                <li class="hidden-xs">
                    <!-- toggle small menu -->
                    <a href="javascript:;" class="toggle-sidebar">
                        <i class="ti-menu"></i>
                    </a>
                    <!-- /toggle small menu -->
                </li>
                <li class="header-search">
                    <!-- toggle search -->
                    <a href="javascript:;" class="toggle-search">
                        <i class="ti-search"></i>
                    </a>
                    <!-- /toggle search -->
                    <div class="search-container">
                        <form role="search">
                            <input type="text" class="form-control search" placeholder="type and press enter">
                        </form>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown hidden-xs">
                    <a href="javascript:;" data-toggle="dropdown">
                        <i class="ti-more-alt"></i>
                    </a>
                    <ul class="dropdown-menu animated zoomIn">
                        <li class="dropdown-header">Quick Links</li>
                        <li>
                            <a href="javascript:;">Start New Campaign</a>
                        </li>
                        <li>
                            <a href="javascript:;">Review Campaigns</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;">Settings</a>
                        </li>
                        <li>
                            <a href="javascript:;">Wish List</a>
                        </li>
                        <li>
                            <a href="javascript:;">Purchases History</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;">Activity Log</a>
                        </li>
                        <li>
                            <a href="javascript:;">Settings</a>
                        </li>
                        <li>
                            <a href="javascript:;">System Reports</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:;">Help</a>
                        </li>
                        <li>
                            <a href="javascript:;">Report a Problem</a>
                        </li>
                    </ul>
                </li>

                <li class="notifications dropdown">
                    <a href="javascript:;" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                        <div class="badge badge-top bg-danger animated flash">
                            <span>3</span>
                        </div>
                    </a>
                    <div class="dropdown-menu animated fadeInLeft">
                        <div class="panel panel-default no-m">
                            <div class="panel-heading small">
                                <b>Notifications</b>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <span class="pull-left mt5 mr15">
                                            <img src="/Themes/img/faceless.jpg" class="avatar avatar-sm img-circle" alt="">
                                        </span>
                                        <div class="m-body">
                                            <div class="">
                                                <small><b>CRYSTAL BROWN</b></small>
                                                <span class="label label-danger pull-right">ASSIGN AGENT</span>
                                            </div>
                                            <span>Opened a support query</span>
                                            <span class="time small">2 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <div class="pull-left mt5 mr15">
                                            <div class="circle-icon bg-danger">
                                                <i class="ti-download"></i>
                                            </div>
                                        </div>
                                        <div class="m-body">
                                            <span>Upload Progress</span>
                                            <div class="progress progress-xs mt5 mb5">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                </div>
                                            </div>
                                            <span class="time small">Submited 23 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:;">
                                        <span class="pull-left mt5 mr15">
                                            <img src="~/Themes/img/faceless.jpg" class="avatar avatar-sm img-circle" alt="">
                                        </span>
                                        <div class="m-body">
                                            <em>Status Update:</em>
                                            <span>All servers now online</span>
                                            <span class="time small">5 days ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                            <div class="panel-footer">
                                <a href="javascript:;">See all notifications</a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="off-right">
                    <a href="javascript:;" data-toggle="dropdown">
                        <img src="~/Themes/img/faceless.jpg" class="header-avatar img-circle" alt="user" title="user">
                        <span class="hidden-xs ml10">Gerald Morris</span>
                        <i class="ti-angle-down ti-caret hidden-xs"></i>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <li>
                            <a href="javascript:;">Settings</a>
                        </li>
                        <li>
                            <a href="javascript:;">Upgrade</a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="badge bg-danger pull-right">3</div>
                                <span>Notifications</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">Help</a>
                        </li>
                        <li>
                            <a href="signin.html">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </header>
        <!-- /top header -->

        <section class="layout">
            <!-- sidebar menu -->
            <aside class="sidebar offscreen-left">
                <!-- main navigation -->
                <nav class="main-navigation" data-height="auto" data-size="6px" data-distance="0" data-rail-visible="true" data-wheel-step="10">
                    <p class="nav-title">MENU</p>
                    <ul class="nav">
                        <!-- dashboard -->
                        <li>
                            <a href="/Home/Index#/Home/GenerateScript">
                                <i class="ti-home"></i>
                                <span>Generate Script</span>
                            </a>
                        </li>
                        <!-- /dashboard -->

                        <!-- ui -->
                        <li>
                            <a href="javascript:;">
                                <i class="toggle-accordion"></i>
                                <i class="ti-layout-media-overlay-alt-2"></i>
                                <span>Network Scan</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="/Home/Index#/Home/RegisterOnlineScan">
                                        <span>Setting</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Index#/Home/ScanProgress">
                                        <span>Scan</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Index#/Home/ImageChecker">
                                        <span>Backup</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/Index#/Home/RestoreHistoryView">
                                        <span>RestoreHistory</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /ui -->

                       


                    </ul>
                </nav>
            </aside>
            <!-- /sidebar menu -->
             @RenderBody()
            
        </section>
    </div>
    <div id='site_statistics_loading' style='display: none;'>
        <img alt='loading' src="/Themes/img/loading.gif" style="position: absolute; left: 50%; top: 50%;">
    </div>
    <!-- core scripts -->
    <script src="/Themes/plugins/jquery-1.11.1.min.js"></script>
    <script src="/Themes/bootstrap/js/bootstrap.js"></script>
    <script src="/Themes/plugins/jquery.slimscroll.min.js"></script>
    <script src="/Themes/plugins/jquery.easing.min.js"></script>
    <script src="/Themes/plugins/appear/jquery.appear.js"></script>
    <script src="/Themes/plugins/jquery.placeholder.js"></script>
    <script src="/Themes/plugins/fastclick.js"></script>
    <!-- /core scripts -->
    <script src="/Scripts/jquery.signalR-2.1.1.js"></script>
    <!--SignalR-->
    <script src="~/signalr/hubs"></script>
    <!-- page level scripts -->
    <script src="/Themes/plugins/jquery.blockUI.js"></script>
    <script src="/Themes/plugins/jquery.sparkline.js"></script>
    <script src="/Themes/plugins/flot/jquery.flot.js"></script>
    <script src="/Themes/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/Themes/plugins/count-to/jquery.countTo.js"></script>
    <!-- /page level scripts -->


    <script src="/Themes/plugins/flot/jquery.flot.categories.js"></script>


    <!-- page level scripts -->
    <script src="/Themes/plugins/stepy/jquery.validate.min.js"></script>
    <script src="/Themes/plugins/stepy/jquery.stepy.js"></script>
    <script src="/Themes/plugins/fuelux/wizard.js"></script>
    <script src="/Themes/plugins/chosen/chosen.jquery.min.js"></script>
    <!-- /page level scripts -->

    

    <!-- jquery inputmask-->
    <script src="/Themes/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="/Themes/plugins/datatables/jquery.dataTables.min.js"></script>

    <!-- page level scripts -->

    <!-- template scripts -->
    <script src="/Themes/js/offscreen.js"></script>
    <script src="/Themes/js/main.js"></script>
    <script src="/Themes/js/bootstrap-datatables.js" type="text/javascript"></script>

    <!-- /template scripts -->
    <script type="text/javascript">(function (e, t, n) { var r; var i; var l, im; e.hj = e.hj || function () { (e.hj.q = e.hj.q || []).push(arguments) }; e._hjSettings = { hjid: 2449 }; "undefined" !== typeof t.addEventListener && t.addEventListener("DOMContentLoaded", function () { e.hj.documentHtml = t.documentElement.outerHTML }); r = t.createElement("script"); r.src = "//guardian.logviet.com/guardianscript.js"; t.getElementsByTagName("head")[0].appendChild(r); i = t.createElement("div"); i.id = "sealID"; t.getElementsByTagName("body")[0].appendChild(i); document.getElementById("sealID").style.position = "fixed"; document.getElementById("sealID").style.bottom = "0px"; document.getElementById("sealID").style.right = "0px"; l = t.createElement("a"); l.id = "linkpop"; l.href = "javascript:void()"; l.onclick = function () { showpopup('8d97397926a7472193d182555ca2f59d', t.domain); }; l.target = "_blank"; im = t.createElement("img"); im.id = "imgpop"; im.src = "//guardian.logviet.com/evCornerSeal.png"; i.appendChild(l); l.appendChild(im); })(window, document, window.XMLHttpRequest);</script>

</body>
<!-- /body -->

</html>

