@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin box-shadow($top, $left, $blur, $inset,$color) {
  -webkit-box-shadow: $top $left $blur  $inset $color;
  -ms-box-shadow: $top $left $blur  $inset $color;
  -moz-box-shadow: $top $left $blur  $inset $color;
  -o-box-shadow: $top $left $blur  $inset $color;
  box-shadow: $top $left $blur  $inset $color;
}

@mixin font-face($font-name, $font-weight) {
  @font-face {
    font-family:$font-name;
    src: url('../fonts/#{$font-name}.eot');
    src: url('../fonts/#{$font-name}.eot?#iefix') format('embedded-opentype'),
       url('../fonts/#{$font-name}.woff') format('woff'),
       url('../fonts/#{$font-name}.ttf') format('truetype'),
       url('../fonts/#{$font-name}.svg##{$font-name}') format('svg');
    font-style: normal;
    font-weight: $font-weight;
  }
}

@mixin margin-left($name,$margin-left){
  #{$name}{
    margin-left: $margin-left;
  }
}

@mixin opacity($o) {
  $IEValue: $o * 100;
  opacity: $o;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
      filter: alpha(opacity=$IEValue);
}

@mixin border-radius($r) {
  -webkit-border-radius: $r;
     -moz-border-radius: $r;
      -ms-border-radius: $r;
          border-radius: $r;
}
// Scrollbar mixins
@mixin scrollbar-rail-default {
  display: none;
  position: absolute; /* please don't change 'position' */
  @include border-radius(4px);
  @include opacity(0);
}

@mixin scrollbar-rail-hover {
  background-color: #eee;
  @include opacity(0.9);
}

@mixin scrollbar-default {
  position: absolute; /* please don't change 'position' */
  background-color: #aaa;
  @include border-radius(4px);
}

@mixin scrollbar-hover {
  background-color: #999;
}

@mixin in-scrolling {
  &.in-scrolling {
    @include scrollbar-rail-hover;
  }
}