﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="Cancel()">×</button>
    <h4 class="modal-title">Nova Análise</h4>
</div>
<div class="modal-body">
    <label for="inputEmail3" class="col-sm-1 control-label">ID</label>
    <div class="row">
        <form class="form-horizontal" role="form" name="frm">
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="entre com uma identificação" name="Name" ng-model="entity.Name" required valid-scan-name>
                    <span style="color: #c23e3e" ng-show="Submitted && frm.Name.$error.required">O preenchimento é obrigatório.  </span>
                    <span style="color: #c23e3e" ng-show="Submitted &&!frm.Name.$error.required && frm.Name.$error.validscanname">Este ID já existe.</span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary " type="button" ng-disabled="!frm.Name.$error.required && frm.Name.$error.validscanname" ng-click="Save(frm.$valid)"><i class="ti-save"></i>Iniciar</button>
</div>

