﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="Cancel()">×</button>
    <h4 class="modal-title">New Image Checker</h4>
</div>
<div class="modal-body"> 
        <form class="form-horizontal" role="form" name="frm">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Run</label>
                <div class="col-sm-5">
                    <div class="radio">
                        <label>
                            <input ng-model="entity.RunInMothOrWeek" type="radio" value="2" checked="checked" ng-change="ChangeRun();">Weekly
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="entity.RunInMothOrWeek" value="1" ng-change="ChangeRun();">Monthly
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Start At</label>
                <div class="col-sm-5">
                    <select class="form-control input-lg mb25" name="StartTime" ng-model="entity.StartTime" required valid-exist-backup="">
                        <option value="">Choose your time to run</option>
                        <option ng-repeat="s in TimeToRun" value="{{s}}">{{s}}</option>
                    </select>
                    <span style="color: #c23e3e" ng-show="Submitted && frm.StartTime.$error.required">This field is required.</span>
                    <span style="color: #c23e3e" ng-show="Submitted && !frm.StartTime.$error.required &&  frm.StartTime.$error.validexistbackup">This schedule is existed.</span>
                </div>
            </div>
        </form> 
</div>
<div class="modal-footer">
    <button class="btn btn-primary " type="button" ng-disabled="Inproccess" ng-click="Save(frm.$valid)"><i class="ti-save"></i>Create New</button>
</div>
