﻿<!-- main content -->
<!-- content wrapper -->
<div class="content">
    <!-- inner content wrapper -->
    <div class="row">
        <div class="col-md-12 portlets">
            <div class="page-heading">
                <h1><i class="glyphicon glyphicon-cog"></i>  Selo de Segurança</h1>
            </div>
            <div class="widget">
                <div class="widget-content padding"> 
                        <div class="col-lg-8">                           
                                <div class="panel-body">
                                    <div class="widget-headerJavascript transparent">
                                        <h2><strong>Java</strong>script</h2>
                                    </div>
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" disabled="disabled" rows="10" ng-model="Script"></textarea>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-default" ng-click="Generate()">Gerar selo</button>
                                            <button type="button" class="btn btn-default" ng-click="Generate()">Copiar</button>
                                        </form>
                                    </div>
                        </div> 
                </div>
            </div>
        </div> 
    </div>
    <!-- /inner content wrapper -->
</div>
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
<!-- /main content -->
