﻿
<style>
    div.dataTables_filter label {
        font-weight: normal;
        float: left;
    }

    #datatables-1_filter {
        display: none;
    }
</style>

<div class="row">
    <div class="col-sm-12 portlets">
        <a class="btn btn-success pull-right" href="/Home/Index#/Home/Vulner"><i class="fa fa-reply"></i> Back</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 portlets">

        <div class="widget">
            <div class="widget-header transparent">
                <h2><strong>Issues</strong> Static</h2>
                <div class="additional-btn">
                    <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                </div>
            </div>
            <div class="widget-content padding">
                <div aa-data="issueslist" chart-google="">   
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 ">
        <div class="widget">
            <div class="widget-header transparent">
                <h2><strong>Iusses</strong> List</h2>
                <div class="additional-btn">
                    <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <div class="data-table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <form role="form">
                                <input type="text" class="form-control" placeholder="Busca..." ng-model="SearchValue">
                            </form>
                        </div>
                        <div class="toolbar-btn-action">
                            @*<a class="btn btn-success" ng-click="AddVul();"><i class="fa fa-plus-circle"></i> Novo</a>
                            <a class="btn btn-primary" ng-show="imagecheckerlist.length>0 && !IsRestore" ng-click="Restore();"><i class="glyphicon glyphicon-floppy-open"></i> Restaurar</a>*@
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="datatables-1" class="table table-hover table-striped" aa-search="SearchValue" cellspacing="0" width="100%" aa-data="issueslist" aa-paging="true" paging-table></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /inner content wrapper -->
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
