﻿
<div class="content">

    <div class="row">
        <div class="col-sm-3">
            <!-- Begin user profile -->
            <div class="text-center user-profile-2">
                <h4>Ola, <b>{{myprofile.Name}}</b></h4>
            </div><!-- End div .box-info -->
            <!-- Begin user profile -->
        </div><!-- End div .col-sm-4 -->

        <div class="col-sm-9">

            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong>Profile</strong> Info</h2>
                    <div class="additional-btn">
                        <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <form class="form-horizontal" role="form" name="frm" novalidate>
                        @*<div class="form-group ">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-3">
                                <div class=" radio-inline">
                                    <div class="radio-inline iradio">
                                        <label>
                                            <input type="radio" name="TypeOfRegister" value="1" ng-model="myprofile.TypeOfRegister" checked="checked" />Física
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class=" radio-inline">
                                    <div class="radio-inline iradio">
                                        <label>
                                            <input type="radio" name="TypeOfRegister" value="2" ng-model="myprofile.TypeOfRegister" />Jurídica
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        @*<div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-xs-2 ">
                                <a href="javascript:void()" class="rounded-image profile-image">
                                    <img src='{{currentuserapp.PathLogo}}'>
                                </a>
                            </div>
                            <div class="col-sm-5"> 
                                <input name="GitUrl" type="file" file-upload="" aa-option="option" required />
                                <span style="color: #c23e3e" ng-show="!IsGit && Submitted && frmUpload.GitUrl.$error.required">Preenchimento obrigatóro.</span>
                            </div>

                        </div>*@
                        <div class="form-group " ng-show="myprofile.TypeOfRegister==2">
                            <label class="col-sm-2 control-label">Razao Social</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="RazaoSocial" ng-model="myprofile.RazaoSocial" placeholder="Razao Social" ng-required="myprofile.TypeOfRegister==2">
                                <span style="color: #c23e3e" ng-show="Submitted && frm.RazaoSocial.$error.required && myprofile.TypeOfRegister==2">
                                    Este campo é obrigatório.
                                </span>
                            </div>
                        </div>

                        <div class="form-group " ng-show="myprofile.TypeOfRegister==1">
                            <label class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="Name" ng-model="myprofile.Name" placeholder="Nome" ng-required="myprofile.TypeOfRegister==1">
                                <span style="color: #c23e3e" ng-show="Submitted && frm.Name.$error.required">
                                    Este campo é obrigatório.
                                </span>
                            </div>
                        </div>

                        <div class="form-group " ng-show="myprofile.TypeOfRegister==1">
                            <label class="col-sm-2 control-label">Sobrenome</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="LastName" ng-model="myprofile.LastName" placeholder="Sobrenome">
                            </div>
                        </div>
                         
                        <div class="form-group " ng-show="myprofile.TypeOfRegister==1 ">
                            <label class="col-sm-2 control-label">CPF</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="CPF" ng-model="myprofile.CPF" placeholder="CPF(768.988.121-14)" input-mask="{mask:'999.999.999-99'}" ng-type="commonmask" ng-required="myprofile.TypeOfRegister==1">
                                <span style="color: #c23e3e" ng-show="Submitted && frm.CPFORCNPJ.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>

                        <div class="form-group " ng-show="myprofile.TypeOfRegister == 2">
                            <label class="col-sm-2 control-label">CNPJ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="CNPJ" ng-model="myprofile.CNPJ" placeholder="CNPJ(77.281.743/0001-01)" input-mask="{mask:'99.999.999/9999-99'}" ng-type="commonmask" ng-required="myprofile.TypeOfRegister==2">
                                <span style="color: #c23e3e" ng-show="Submitted && frm.CPFORCNPJ.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>

                        <div class="form-group " ng-show=" myprofile.TypeOfRegister == 3">
                            <label class="col-sm-2 control-label">Passaporte</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="Passaporte" ng-model="myprofile.Passaporte" placeholder="Passaporte" ng-required="myprofile.TypeOfRegister == 3">
                                <span style="color: #c23e3e" ng-show="Submitted && frm.Passaporte.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>

                        <div class="form-group " ng-show="myprofile.TypeOfRegister==1">
                            <label class="col-sm-2 control-label">Nascimento</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control datepicker-input" name="DateOfBirth" ng-model="myprofile.DateOfBirth" placeholder="dd/mm/aaaa" date-picker="" ng-required="myprofile.TypeOfRegister==1" input-mask="{mask:'99/99/9999'}" ng-type="commonmask">

                                <span style="color: #c23e3e" ng-show="Submitted && frm.DateOfBirth.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>

                        <div class="form-group " ng-show="myprofile.TypeOfRegister==2">
                            <label class="col-sm-2 control-label">Contribuinte</label>
                            <div class="col-sm-10">
                                <select class="form-control " name="Contribuinte" ng-model="myprofile.Contribuinte" ng-required="myprofile.TypeOfRegister==2"       >
                                    <option value="">Selecione Contribuinte...</option>
            <option value="0" selected>Não</option>
            <option value="1">Sim</option> 
                                </select>
                                <span style="color: #c23e3e" ng-show="Submitted && frm.Contribuinte.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Telefone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control " name="TELEFONE" ng-model="myprofile.TELEFONE" placeholder="Telefone" input-mask="{mask:'(99)9999-9999'}" ng-type="commonmask" required>
                                <span style="color: #c23e3e" ng-show="Submitted && frm.TELEFONE.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Celular</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control " name="CELULAR" ng-model="myprofile.CELULAR" placeholder="Celular" input-mask="{mask:'(99)999999999'}" ng-type="commonmask">
                            </div>
                        </div>

                        @*<div class="form-group ">
                            <label class="col-sm-2 control-label">Outro Telefone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control " name="OutroTelefone" ng-model="myprofile.OutroTelefone" placeholder="Outro Telefone" input-mask="{mask:'(99)999999'}" ng-type="commonmask">
                            </div>
                        </div>*@


                        <div class="form-group ">
                            <label class="col-sm-2 control-label">CEP</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="ZipCode" ng-model="myprofile.Zipcode" placeholder="CEP(12020-220)" required input-mask="{mask:'99999-999'}" ng-type="commonmask">
                                <span style="color: #c23e3e" ng-show="Submitted && frm.ZipCode.$error.required">
                                    Este campo é obrigatório.
                                </span>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Endereço</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="ENDERECO" ng-model="myprofile.ENDERECO" placeholder="Endereço" required>
                                <span style="color: #c23e3e" ng-show="Submitted && frm.ENDERECO.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Número</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="NUMERO" ng-model="myprofile.NUMERO" placeholder="Número" required>
                                <span style="color: #c23e3e" ng-show="Submitted && frm.NUMERO.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Complemento</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="COMPLEMENTO" ng-model="myprofile.COMPLEMENTO" placeholder="Complemento" required>
                                <span style="color: #c23e3e" ng-show="Submitted && frm.COMPLEMENTO.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Bairro</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="BAIRRO" ng-model="myprofile.BAIRRO" placeholder="Bairro" required>
                                <span style="color: #c23e3e" ng-show="Submitted && frm.BAIRRO.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Cidade</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control " name="CIDADE" ng-model="myprofile.CIDADE" placeholder="Cidade" required>
                                <span style="color: #c23e3e" ng-show="Submitted && frm.CIDADE.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control " name="ESTADO" ng-model="myprofile.ESTADO" required>
                                    <option value="">Selecione Estado...</option>
                                    <option value="AC" selected>Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Su</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                                <span style="color: #c23e3e" ng-show="Submitted && frm.ESTADO.$error.required">Este campo é obrigatório.</span>
                            </div>
                        </div>

                        <button type="button" ng-click="Save(frm.$valid)" class="btn btn-default">Atualizar</button>
                        <br />
                    </form>
                </div>
            </div>

        </div>
        <!-- End Tab about -->
    </div><!-- End div .tab-content -->
</div><!-- End div .box-info -->
