﻿<!-- inner content wrapper -->
<!-- main content -->
<!-- content wrapper -->
        <div class="page-heading">
            <h1><i class="glyphicon glyphicon-cog"></i>  Configurações</h1>
        </div>
<div class="row">
    <div class="col-sm-6 portlets ui-sortable">
        <div class="widget">
            <div class="widget-header transparent">
                <h2><strong>Conta</strong> de FTP</h2>
                <div class="additional-btn">
                    <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>        
                </div>
            </div>
            <br />
            <div class="col-sm-12">
                <form class="form-horizontal" name="frm" novalidate>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Servidor</label>
                            <input id="username" type="text" class="form-control" placeholder="ftp.servidor.com.br" name="FtpServer" ng-model="currentuser.FtpServer" required />
                        </div>
                        <span style="color: #c23e3e" ng-show="Submitted && frm.FtpServer.$error.required">Preenchimento obrigatóro.</span>
                    </div>
                    <div class="form-group">                     
                        <div class="col-sm-12">
                            <label>Porta</label>
                            <input type="number" class="form-control" placeholder="21" name="FtpPort" ng-model="currentuser.FtpPort" ng-minlength="2" ng-maxlength="4" required />
                        </div>
                        <span style="color: #c23e3e" ng-show="Submitted && frm.FtpPort.$error.required">Preenchimento obrigatóro.</span>
                        <span style="color: #c23e3e" ng-show="Submitted && !frm.FtpPort.$error.required && (frm.FtpPort.$error.minlength || frm.FtpPort.$error.maxlength)">Porta inválida.</span>
                    </div>
                    <div class="form-group">                     
                        <div class="col-sm-12">
                            <label>Usuário</label>
                            <input id="email" type="text" class="form-control" placeholder="usuario@servidor.com.br" name="FtpAccount" ng-model="currentuser.FtpAccount" required />
                        </div>
                        <span style="color: #c23e3e" ng-show="Submitted && frm.FtpAccount.$error.required">Preenchimento obrigatóro.</span>
                    </div>
                    <div class="form-group">             
                        <div class="col-sm-12">
                            <label>Senha</label>
                            <input id="password" type="password" class="form-control" name="FtpPassword" ng-model="currentuser.FtpPassword" required placeholder="abc123" />
                        </div>
                        <span style="color: #c23e3e" ng-show="Submitted && frm.FtpPassword.$error.required">Preenchimento obrigatóro.</span>
                    </div>
                    <div class="form-group">        
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary" ng-click="finish(frm.$valid)"><i class="ti-share mr5"></i>Enviar</button>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" ng-show="frm.$valid && (!FirstTimeVerify || Submitted) &&!currentuser.IsVerifiedFtpAccount">
                                Conta inválida, tente novamente!
                            </div>
                            <div class="alert alert-success" ng-show="currentuser.IsVerifiedFtpAccount">
                                Conta válida
                            </div>
                        </div>
                        </div>
</form>
            </div>
        </div>
    </div>
    <!-- start comment ftp -->
    <div class="col-sm-6 portlets ui-sortable">
        <div class="widget">
            <div class="widget-content padding">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="widget-header transparent">    
                                <div class="additional-btn">
                                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="notes">
                                    <h4><strong>Info</strong> adicional</h4>
                                    <p style="text-align: justify">
                                        Informe uma conta de FTP válida para que o sistema de segurança Grouve analise, monitore e proteja cuidadosamente o seu website 24/7. A conta deve ter permissão de leitura e escrita no diretório public_html de seu website, você pode criar a conta por meio do seu painel de hospedagem: 
                                     </p>
                                    <ol>
                                        <li>Web/Classic (Hosting Control Panel)</li>
                                        <li>Linux (cPanel) ou</li>
                                        <li>Windows (Plesk)</li>
                                    </ol>
                                    <p style="text-align: justify">
                                        Quando uma solicitação de remoção de malware nos é enviada, é necessário fornecer FTP, SFTP, ou acesso via SSH. O protocolo de conexão padrão é o File Transfer Protocol (FTP). 
                                     </p>
                                </div>
                            </div>
                        </div>                            
                    </form>
            </div>
        </div>
        </div>
    </div>
    </div>
<!-- /end of comment ftp -->
<!-- /inner content wrapper -->
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
<!-- /main content -->
