﻿<!-- content wrapper -->
<div class="content-wrap">
    <div class="page-heading">
        <h1><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Histórico Unitário</h1>
    </div>
    <!-- inner content wrapper -->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>Resultados</strong></h2>
                        <div class="additional-btn">
                            <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">    
                        <div class="data-table-toolbar">
                            <div class="row">
                                <div class="col-md-4">
                                    <form role="form">
                                        <input type="text" class="form-control" placeholder="Busca..." ng-model="SearchValue">
                                    </form> 
                                </div>
                                <div class="toolbar-btn-action">
                                    <a class="btn btn-danger" ng-click="GotoRestoreHistory();"><i class="icon-reply-1"></i> Voltar</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table  table-striped mg-t datatable" id="tblRestoringHistory" aa-search="SearchValue" aa-data="restorehistorydetailList" paging-table></table>
                        </div>
                    </div>   

                </div>
            </div>
        </div>
        <!-- /inner content wrapper -->
    </div>
</div>
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
<style>
    div.dataTables_filter label {
        font-weight: normal;
        float: left;
    }

    #tblRestoringHistory_filter {
        display: none;
    }
</style>
