﻿<!doctype html>
<html class="signin no-js" lang="" ng-app="GuardianLogin">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Flat, Clean, Responsive, application admin template built with bootstrap 3">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <!-- /meta -->

    <title>Sublime - Web Application Admin Dashboard</title>

    <!-- page level plugin styles -->
    <!-- /page level plugin styles -->

    <!-- core styles -->
    <link rel="stylesheet" href="/Themes/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Themes/css/font-awesome.css">
    <link rel="stylesheet" href="/Themes/css/themify-icons.css">
    <link rel="stylesheet" href="/Themes/css/animate.min.css">
    <!-- /core styles -->

    <!-- template styles -->
    <link rel="stylesheet" href="/Themes/css/skins/palette.css">
    <link rel="stylesheet" href="/Themes/css/fonts/font.css">
    <link rel="stylesheet" href="/Themes/css/main.css">
    <!-- template styles -->

     <!-- jquery inputmask-->
     <script src="/Themes/plugins/jquery-1.11.1.min.js"></script>
     <script src="/Themes/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>

    <!-- angularjs script-->
    <script src="/Scripts/angularjs/angular.js" type="text/javascript"></script>
    <script src="/Scripts/angularjs/angular-resource.js" type="text/javascript"></script>
    <script src="/Scripts/angularjs/angular-route.js" type="text/javascript"></script> 
    <!-- bootstrap angularjs script-->
     <script src="/Scripts/angularjs/ui-bootstrap-tpls-0.10.0.min.js"></script>  

    <link rel="stylesheet" href="/Scripts/angularjs/angular-block-ui.min.css" />
    <script src="/Scripts/angularjs/angular-block-ui.min.js"></script> 
    <!-- script controller-->
    @Scripts.Render("~/bundles/appLogin")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- load modernizer -->
    <script src="/Themes/plugins/modernizr.js"></script>
</head>

<body class="bg-primary">

    <div class="cover" style="background-image: url(img/cover3.jpg)"></div>

    <div class="overlay bg-primary"></div>

    <div class="center-wrapper">
        <div class="center-content">           
            @RenderBody()
        </div>
    </div>
     <div id='site_statistics_loading' style='display: none;'>
        <img alt='loading' src="/Themes/img/loading.gif" style="position: absolute; left: 50%; top: 50%;">
    </div>
</body>

</html>
