﻿<!DOCTYPE html>
<html ng-app="GuardianApp">
<head>
    <meta charset="UTF-8">
    <title>Grouve | Administrativo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
    <meta name="author" content="Huban Creative">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Scripts/SecondTheme/assets/libs/jquery/jquery-1.11.1.min.js"></script>

    <script src="/Scripts/jqueryupload/js/jquery.iframe-transport.js"></script>
    <script src="/Scripts/jqueryupload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/Scripts/jqueryupload/js/jquery.fileupload.js"></script>  
    <!-- Base Css Files -->
    <link href="/Scripts/SecondTheme/assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/fontello/css/fontello.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/animate-css/animate.min.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/nifty-modal/css/component.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/ios7-switch/ios7-switch.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/pace/pace.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/jquery-icheck/skins/all.css" rel="stylesheet" />

    <!-- Code Highlighter for Demo -->
    <link href="/Scripts/SecondTheme/assets/libs/prettify/github.css" rel="stylesheet" />
    <link href="/Scripts/SecondTheme/assets/libs/jquery-notifyjs/styles/metro/notify-metro.css" rel="stylesheet" type="text/css" />
    <!-- Extra CSS Libraries Start -->
    <link href="/Scripts/SecondTheme/assets/libs/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/libs/morrischart/morris.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/libs/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/libs/jquery-clock/clock.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/libs/bootstrap-calendar/css/bic_calendar.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/libs/jquery-weather/simpleweather.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/libs/bootstrap-xeditable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />

    <link href="/Scripts/jqueryupload/css/jquery.fileupload.css" rel="stylesheet" type="text/css" />

    <!-- Extra CSS Libraries End -->

    <!-- Extra CSS Libraries Start -->
    <link href="/Scripts/SecondTheme/assets/libs/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/SecondTheme/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Extra CSS Libraries End -->

  
    <!--Start Link angularjs-->
     
    <script src="/Scripts/angularjs/angular.js" type="text/javascript"></script>
    <script src="/Scripts/angularjs/angular-resource.js" type="text/javascript"></script>
    <script src="/Scripts/angularjs/angular-route.js" type="text/javascript"></script>    
   
 
    <!-- bootstrap angularjs script-->
    <script src="/Scripts/angularjs/ui-bootstrap-tpls-0.10.0.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://rawgithub.com/McNull/angular-block-ui/v0.0.7/angular-block-ui.min.css" />
    <!-- script controller-->
    @Scripts.Render("~/bundles/app")
    <!--End link angularjs-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  
    

    <link rel="shortcut icon" href="/Scripts/SecondTheme/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="/Scripts/SecondTheme/assets/img/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/Scripts/SecondTheme/assets/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/Scripts/SecondTheme/assets/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/Scripts/SecondTheme/assets/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/Scripts/SecondTheme/assets/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/Scripts/SecondTheme/assets/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/Scripts/SecondTheme/assets/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/Scripts/SecondTheme/assets/img/apple-touch-icon-152x152.png" />
</head>
<body class="fixed-left" ng-controller="MasterController as Master">
    <!-- Modal Start -->
    <!-- Modal Task Progress -->
    <div class="md-modal md-3d-flip-vertical" id="task-progress">
        <div class="md-content">
            <h3><strong>Task Progress</strong> Information</h3>
            <div>
                <p>CLEANING BUGS</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80&#37; Complete</span>
                    </div>
                </div>
                <p>POSTING SOME STUFF</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                        <span class="sr-only">65&#37; Complete</span>
                    </div>
                </div>
                <p>BACKUP DATA FROM SERVER</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                        <span class="sr-only">95&#37; Complete</span>
                    </div>
                </div>
                <p>RE-DESIGNING WEB APPLICATION</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100&#37; Complete</span>
                    </div>
                </div>
                <p class="text-center">
                    <button class="btn btn-danger btn-sm md-close">Close</button>
                </p>
            </div>
        </div>
    </div>

    <!-- Modal Logout -->
    <div class="md-modal md-just-me" id="logout-modal">
        <div class="md-content">
            <h3><strong>Confirmação</strong> de saída</h3>
            <div>
                <p class="text-center">Tem certeza que deseja sair do sistema?</p>
                <p class="text-center">
                    <button class="btn btn-danger md-close">Não</button>
                    <a href="#" ng-click="Logout()" class="btn btn-success md-close">Sim</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Modal End -->
    <!-- Begin page -->
    <div id="wrapper" class="forced">

        <!-- Top Bar Start -->
        <div class="topbar">
            <div class="topbar-left">
                <div class="logo">
                    @*<h1>
                        <a href="#">
                            <img src="/Scripts/SecondTheme/assets/img/logo.png" alt="Logo">
                        </a>
                    </h1>*@
                </div>
                <button class="button-menu-mobile open-left">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-collapse2">
                        <ul class="nav navbar-nav navbar-right top-navbar">
                            <li class="dropdown iconify hide-phone">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span class="label label-danger absolute">{{NumberUnread}}</span></a>
                                <ul class="dropdown-menu dropdown-message">
                                    <li class="dropdown-header notif-header"><i class="icon-bell-2"></i>Novas Notificações</li>
                                    <li   ng-show="Notifications.length <=0">
                                        <a href="#">
                                            <p>
                                                <strong>Nenhuma notifiação.</strong>  
                                                <br />
                                                <i></i>
                                            </p>
                                        </a>
                                    </li>  
                                    <li ng-class="{'unread':notify.IsRead}" ng-repeat="notify in Notifications" ng-show="Notifications.length >0">
                                        <a href="#" ng-click="MarkIsRead(notify)">
                                            <p>
                                                <strong>{{notify.Action}}</strong> {{notify.ErrorMessage}}
                                                <br />
                                                <i>{{ConvertTimeToStatusTime(notify.RestoredDate)}}</i>
                                            </p>
                                        </a>
                                    </li>   
                                    
                                    <li class="dropdown-footer">
                                        <div class="btn-group btn-group-justified">
                                            <div class="btn-group">
                                                <a href="javascript:void()" class="btn btn-sm btn-primary" ng-click="LoadListNotification();"><i class="icon-ccw-1"></i>Atualizar</a>
                                            </div>
                                            <div class="btn-group" >
                                                <a href="javascript:void()" class="btn btn-sm btn-danger" ng-disabled="Notifications.length <=0" ng-click="ClearAll()"><i class="icon-trash-3"></i>Limpar</a>
                                            </div>                               
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown iconify hide-phone" style="display:none;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="label label-danger absolute">3</span></a>
                                <ul class="dropdown-menu dropdown-message">
                                    <li class="dropdown-header notif-header"><i class="icon-mail-2"></i>Novas Mensagens</li>
                                    <li class="unread">
                                        <a href="#" class="clearfix">
                                            <img src="/Scripts/SecondTheme/images/users/chat/2.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                                            <strong>John Doe</strong><i class="pull-right msg-time">5 minutes ago</i><br />
                                            <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                                        </a>
                                    </li>
                                    <li class="unread">
                                        <a href="#" class="clearfix">
                                            <img src="/Scripts/SecondTheme/images/users/chat/1.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                                            <strong>Sandra Kraken</strong><i class="pull-right msg-time">22 minutes ago</i><br />
                                            <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/Scripts/SecondTheme/images/users/chat/3.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                                            <strong>Zoey Lombardo</strong><i class="pull-right msg-time">41 minutes ago</i><br />
                                            <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                                        </a>
                                    </li>
                                    <li class="dropdown-footer">
                                        <div class=""><a href="#" class="btn btn-sm btn-block btn-primary"><i class="fa fa-share"></i>See all messages</a></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown iconify hide-phone" style="display:none;"><a href="#" onclick="javascript:toggle_fullscreen()"><i class="icon-resize-full-2"></i></a></li>
                            <li class="dropdown topbar-profile">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="rounded-image topbar-profile-image">
                                        <img src='{{currentuserapp.PathLogo}}'>
                                    </span> {{currentuserapp.Name}} <strong>{{currentuserapp.LastName}}</strong> <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Home/Index#/Home/Profile">Minha Conta</a></li>   
                                    <li class="divider"></li>  
                                    <li><a class="md-trigger" data-modal="logout-modal"><i class="icon-logout-1"></i>Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- Left Sidebar Start -->
        <div class="left side-menu" style="overflow: inherit;">
            <div class="sidebar-inner slimscrollleft" style="overflow: inherit;">
                <!-- Search form -->
                <div class="clearfix"></div>
                <!--- Profile -->
                <br />
                <div class="profile-info">
                    <div class="col-xs-4">
                        <a href="/Home/Index#/Home/Profile" class="rounded-image profile-image">
                            <img  src='{{currentuserapp.PathLogo}}'>
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="profile-text">Olá <b>{{currentuserapp.Name}}</b>!</div>
                        <div class="profile-buttons">                       
                            <a href="javascript:;" title="Suporte"><i class="fa fa-envelope-o pulse"></i></a>
                            <a href="#connect" title="Alerta" class="open-right"><i class="fa fa-globe"></i></a>      
                            <a href="javascript:;" title="Sair" g-click="Logout()"><i class="fa fa-power-off text-red-1"></i></a>            
                        </div>
                    </div>
                </div>
                <!--- Divider -->
                <div class="clearfix"></div>
                <hr class="divider" />
                <div class="clearfix"></div>
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <li class='has_sub'>
                            <a href='javascript:void(0);'><i class='fa fa-shield'></i><span>Análises</span> <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                <li><a href='/Home/Index#/Home/ScanProgress'><span>Malware </span></a></li>       <!--Scan-->
                                <li><a href='/Home/Index#/Home/Vulner'><span>Vulnerabilidade</span></a></li>
                            </ul>
                        </li>
                        <li class='has_sub'>
                            <a href='javascript:void(0);'><i class='fa fa-cloud'></i><span>Utilidades</span> <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                <li><a href='#'><span>BlackList Checker</span></a></li>
                                <li><a href='#'><span>Uptime Monitor</span></a></li>
                            </ul>
                        </li>
                        <li class='has_sub'>
                            <a href='javascript:void(0);'><i class='fa  fa-wrench'></i><span>Segurança</span> <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                <li><a href='#'><span>Freeze Directory</span></a></li>
                                <li><a href='/Home/Index#/Home/GenerateScript'><span>Selo de Segurança</span></a></li>      <!--Generate seal-->
                            </ul>            
                        </li>
                        <li class='has_sub'>
                            <a href='javascript:void(0);'><i class='fa fa-hdd-o'></i><span>Backup</span> <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                <li><a href='/Home/Index#/Home/ImageChecker'><span>Novo / Restaurar </span></a></li>
                                <li><a href='/Home/Index#/Home/RestoreHistoryView'><span>Histórico </span></a></li>
                            </ul>
                        </li>
                        <li  >
                            <a href='/Home/Index#/Home/RegisterOnlineScan'><i class='fa fa-cog'></i><span>Configurações </span> </a>  
                        </li> 
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="portlets">


                </div>
                <div class="clearfix"></div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right content -->
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="profile-banner" style="background-image: url(/Scripts/SecondTheme/images/stock/1epgUO0.jpg);display:none;" ng-show="IsProfile">
                <div class="col-sm-3 avatar-container">
                    <img  src='{{currentuserapp.PathLogo}}' class="img-circle profile-avatar" alt="User avatar">
                </div>
                <div class="col-sm-12 profile-actions text-right">
                    @*<button type="button" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Friends</button>
                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Send Message</button>
                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-ellipsis-v"></i></button>*@
                </div>
            </div>
            <div class="content">
                @RenderBody()
                <!-- Footer Start -->
                <footer>
                    Grouve Monitor &copy; 2014-2015
                </footer>
                <!-- Footer End -->
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->

        </div>
        <!-- End right content -->

    </div>
    <div id="contextMenu" class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px;">
            <li><a tabindex="-1" href="javascript:;" data-priority="high"><i class="fa fa-circle-o text-red-1"></i>High Priority</a></li>
            <li><a tabindex="-1" href="javascript:;" data-priority="medium"><i class="fa fa-circle-o text-orange-3"></i>Medium Priority</a></li>
            <li><a tabindex="-1" href="javascript:;" data-priority="low"><i class="fa fa-circle-o text-yellow-1"></i>Low Priority</a></li>
            <li><a tabindex="-1" href="javascript:;" data-priority="none"><i class="fa fa-circle-o text-lightblue-1"></i>None</a></li>
        </ul>
    </div>
    <!-- End of page -->
    <!-- the overlay modal element -->
    <div class="md-overlay"></div>
    <!-- End of eoverlay modal -->
    <script>
        var resizefunc = [];
    </script>      

    <script src="/Scripts/SecondTheme/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-detectmobile/detect.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/ios7-switch/ios7.switch.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/fastclick/fastclick.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-blockui/jquery.blockUI.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/nifty-modal/js/classie.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/nifty-modal/js/modalEffects.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/sortable/sortable.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/bootstrap-select2/select2.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/Themes/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    @*<script src="/Scripts/SecondTheme/assets/libs/pace/pace.min.js"></script>*@
    <script src="/Scripts/SecondTheme/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-icheck/icheck.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-flot/jquery.flot.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-flot/jquery.flot.resize.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-flot/jquery.flot.categories.js"></script>
    <!-- /core scripts -->
    <script src="/Scripts/jquery.signalR-2.1.1.js"></script>
    <!--SignalR-->
    <script src="/signalr/hubs"></script>

    <!-- Demo Specific JS Libraries -->
    <script src="/Scripts/SecondTheme/assets/libs/prettify/prettify.js"></script>

    <script src="/Scripts/SecondTheme/assets/js/init.js"></script>
    <!-- Page Specific JS Libraries -->
    <script src="/Scripts/SecondTheme/assets/libs/jquery-notifyjs/notify.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-notifyjs/styles/metro/notify-metro.js"></script>
     

    <!-- Page Specific JS Libraries -->
    @*<script src="/Scripts/SecondTheme/assets/libs/d3/d3.v3.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/rickshaw/rickshaw.min.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/raphael/raphael-min.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/morrischart/morris.min.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/jquery-knob/jquery.knob.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/jquery-clock/clock.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/jquery-easypiechart/jquery.easypiechart.min.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/jquery-weather/jquery.simpleWeather-2.6.min.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js"></script>
        <script src="/Scripts/SecondTheme/assets/libs/bootstrap-calendar/js/bic_calendar.min.js"></script>
        <script src="/Scripts/SecondTheme/assets/js/apps/calculator.js"></script>
        <script src="/Scripts/SecondTheme/assets/js/apps/todo.js"></script>
        <script src="/Scripts/SecondTheme/assets/js/apps/notes.js"></script>
        <script src="/Scripts/SecondTheme/assets/js/pages/index.js"></script>*@

    <!-- Page Specific JS Libraries -->
    <script src="/Scripts/SecondTheme/assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
    <script src="/Scripts/SecondTheme/assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="/Scripts/SecondTheme/assets/js/pages/datatables.js"></script>

    @*<script src="/Scripts/jqueryupload/js/jquery.fileupload-angular.js" type="text/javascript"></script>*@ 

    <script type="text/javascript">
        $.fn.dataTableExt.oApi.fnFilterClear = function (oSettings) {
            var i, iLen;

            /* Remove global filter */
            oSettings.oPreviousSearch.sSearch = "";

            /* Remove the text of the global filter in the input boxes */
            if (typeof oSettings.aanFeatures.f != 'undefined') {
                var n = oSettings.aanFeatures.f;
                for (i = 0, iLen = n.length ; i < iLen ; i++) {
                    $('input', n[i]).val('');
                }
            }

            /* Remove the search text for the column filters - NOTE - if you have input boxes for these
             * filters, these will need to be reset
             */
            for (i = 0, iLen = oSettings.aoPreSearchCols.length ; i < iLen ; i++) {
                oSettings.aoPreSearchCols[i].sSearch = "";
            }

            /* Redraw */
            oSettings.oApi._fnReDraw(oSettings);
        };
         
        google.load('visualization', '1', { packages: ['corechart'] });
        $(document).ready(function () {
            $(".profile-banner").attr("style", "background-image: url(/Scripts/SecondTheme/images/stock/1epgUO0.jpg);");
            
        });
    </script>

</body>
</html>
