﻿                                                                      <!-- content wrapper -->
<div class="content-wrap">
    <!-- inner content wrapper -->
    <div class="wrapper">
        <div class="page-heading">
            <h1><i class="glyphicon glyphicon-folder-close"></i>  New Vulnerability Scan</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>Resultados</strong></h2>
                        <div class="additional-btn">
                            <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="col-sm-12">
                            <ul id="demo5" class="nav nav-tabs nav-simple">
                                <li class="active">
                                    <a ng-click="ChangeTab(true)" data-toggle="tab" data-target="#demo5-home"><i class="glyphicon glyphicon-qrcode"></i> Vulnerabilidade Scan</a>
                                </li>
                                @*<li class="">
                                    <a ng-click="ChangeTab(false)" data-toggle="tab" datat-target="#demo5-profile"><i class=" icon-folder-open-empty"></i>File Scan</a>
                                </li>*@
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="demo5-home">
                                    <form class="form-horizontal" id="frm" name="frm" novalidate>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>Scan Name</label>
                                                <input  type="text" class="form-control"   name="ScanName" ng-model="entity.ScanName" required check-exist-package />  
                                                <span style="color: #c23e3e" ng-show="IsGit && Submitted && frm.ScanName.$error.required">Preenchimento obrigatóro.</span> 
                                                <span style="color: #c23e3e" ng-show="!frm.ScanName.$error.required && frm.ScanName.$error.validname">This name is used</span>    
                                            </div>
                                           
                                        </div>  
                                        @*<div class="form-group">
                                            <div class="col-sm-12">
                                                <label>Repository URL</label>
                                                <input type="url" class="form-control" name="GitUrl" ng-model="entity.GitUrl" required />
                                                <span style="color: #c23e3e" ng-show="IsGit && Submitted && frm.GitUrl.$error.required">Preenchimento obrigatóro.</span>
                                            </div>        
                                        </div>*@
                                        <div class="form-group" >
                                            <div class="col-sm-12 pull-left">
                                                <button class="btn btn-success" ng-disabled="!frm.ScanName.$error.required && frm.ScanName.$error.validname" ng-click="Scan(frm.$valid)">Scan</button>
                                                <button class="btn btn-default" ng-click="Cancel()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div> <!-- / .tab-pane -->
                                @*<div class="tab-pane fade" id="demo5-profile">
                                    <form class="form-horizontal" id="frmUpload" name="frmUpload" novalidate>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>Scan Name</label>
                                                <input type="text" class="form-control" name="ScanName" ng-model="entity.ScanName" required check-exist-package />
                                                <span style="color: #c23e3e" ng-show="!IsGit && Submitted && frmUpload.ScanName.$error.required">Preenchimento obrigatóro.</span>
                                                <span style="color: #c23e3e" ng-show="IsGit && Submitted &&frm.ScanName.$error.required &&  frm.ScanName.$error.validname">This name is used</span>    
                                            </div>
                                            
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label>Zip Archive file</label>
                                                <input name="GitUrl" type="file" file-upload="" aa-option="option" required/>
                                                <span style="color: #c23e3e" ng-show="!IsGit && Submitted && frmUpload.GitUrl.$error.required">Preenchimento obrigatóro.</span>
                                            </div>
                                           
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 pull-left">
                                                <button class="btn btn-success" ng-click="Scan(frmUpload.$valid)" id="btnScanUpload">Scan</button>
                                                <button class="btn btn-default" ng-click="Cancel()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>*@ <!-- / .tab-pane -->
                            </div> <!-- / .tab-content -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /inner content wrapper -->
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
