﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="Cancel()">×</button>
    <h4 class="modal-title">Processing Restore</h4>
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal" role="form" name="frm"> 
            <div class="col-md-4"> 
                <div class="progress progress-sm progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{entity.Percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{entity.Percent}}%">
                        <span class="sr-only">{{entity.Percent}}% Complete (success)</span>
                    </div>
                    <small>{{entity.TextProcess}}</small>
                </div> 
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
     
</div>