﻿<!-- content wrapper -->
<div class="content-wrap">
    <!-- inner content wrapper -->
    <div class="wrapper">
        <div class="page-heading">
            <h1><i class="glyphicon glyphicon-folder-close"></i>  Histórico de Backup</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>Resultados</strong></h2>
                        <div class="additional-btn">
                            <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">

                        <div class="data-table-toolbar">
                            <div class="row">
                                <div class="col-md-4">
                                    <form role="form">
                                        <input type="text" class="form-control" placeholder="Busca..." ng-model="SearchValue">
                                    </form>  
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table  table-striped mg-t datatable" id="tblRestoringHistory" aa-search="SearchValue" aa-data="listimagecheckerrestore" paging-table></table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /inner content wrapper -->
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
<style>
    div.dataTables_filter label {
        font-weight: normal;
        float: left;
    }

    #tblRestoringHistory_filter {
        display: none;
    }
</style>
