﻿<style>
    div.dataTables_filter label {
        font-weight: normal;
        float: left;
    }

    #datatables-1_filter {
        display: none;
    }
</style>
<!-- content wrapper -->
<div class="content">
    <!-- inner content wrapper -->
    <div class="page-heading">
        <h1><i class="fa fa-search"></i>  Análise de Malware</h1>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="widget">
                <div class="widget-header transparent">
                    <h2><b>Resultados</b></h2>
                    <div class="additional-btn">     
                        <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>  
                    </div>
                </div>
                <div class="widget-content">
                    <div class="data-table-toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <form role="form">
                                    <input type="text" class="form-control" placeholder="Busca..." ng-model="SearchValue">
                                </form>  
                            </div>
                            <div class="toolbar-btn-action">
                                <a class="btn btn-success" ng-click="AddHistory();"><i class="fa fa-plus-circle"></i> Novo</a>
                                <a class="btn btn-danger" ng-click="DeleteAll()"><i class="fa fa-trash-o"></i> Deletar</a>
                                <a class="btn btn-primary" ng-click="Refresh()"><i class="fa fa-refresh"></i> Atualizar</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="datatables-1" class="table table-hover table-striped" cellspacing="0" width="100%" id="tblScanHistory" aa-search="SearchValue" aa-data="listhistory" paging-table></table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /inner content wrapper -->
    </div>
</div>
</div>
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
