﻿<!-- main content -->
<div class="page-heading">
    <h1><i class="icon-chart-area"></i>  Relatório Geral</h1>
</div>
<!-- content wrapper -->
<div class="content-wrap">
    <!-- inner content wrapper -->
    <div class="wrapper">
        <div class="table-responsive">
            <div class="widget">
                <div class="widget-header">
                    <h2>Resultado da <b>Verificação</b></h2>
                    <div class="additional-btn">
                        <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <div class="row stacked">
                        <div class="col-md-12">
                            <div id="flotPlaceholder" class="category chart" style="height:300px;" data-source="categoryData" chart-category></div>
                            <div class="col-md-12"><button type="button" class="btn btn-primary pull-right" ng-click="Cancel()"><i class=" ti-back-left"></i>Voltar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong></strong></h2>
                    <div class="additional-btn">
                        <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="data-table-toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <form role="form">
                                    <input type="text" class="form-control" placeholder="Busca..." ng-model="SearchValue">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="datatables-1" paging-table aa-data="listhistory.ScanDetails" aa-search="SearchValue"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /inner content wrapper -->
</div>
<!-- /content wrapper -->
<a class="exit-offscreen"></a>

<!-- /main content -->
<style>
    #flotPlaceholder div.xAxis div.tickLabel {
        padding-bottom: 3px;
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg); /* IE 9 */
        -moz-transform: rotate(-90deg); /* Firefox */
        -webkit-transform: rotate(-90deg); /* Safari and Chrome */
        -o-transform: rotate(-90deg); /* Opera */
        /*rotation-point:50% 50%;*/ /* CSS3 */
        /*rotation:270deg;*/ /* CSS3 */
    }
</style>
<style>
    div.dataTables_filter label {
        font-weight: normal;
        float: left;
    }

    #datatables-1_filter {
        display: none;
    }
</style>

