﻿<!-- main content -->
<style>
    div.dataTables_filter label {
        font-weight: normal;
        float: left;
    }

    #datatables-1_filter {
        display: none;
    }
</style>
<!-- content wrapper -->
<div class="content-wrap">
    <div class="page-heading">
        <h1><i class="icon-chart-pie-1"></i> Relatório Unitário</h1>
    </div>
    <!-- inner content wrapper -->
    <div class="wrapper">
        <div class="row">
            <div class="widget">
                <div class="widget-header">
                    <h2>{{filename}}</h2>
                    <div class="additional-btn">
                        <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <div class="row stacked">
                        <div class="col-md-3 col-sm-6 col-xs-12 top-summary">
                            <div ng-class="TotalVirus>0?'widget pink-1 animated fadeInDown': 'widget green-1 animated fadeInDown'">
                                <div class="widget-content padding">
                                    <div class="widget-icon">
                                        <i class="icon-globe-inv"></i>
                                    </div>
                                    <div class="text-box">
                                        <p class="maindata"><b>Resultado Unitário</b></p>
                                        <h2><span class="animate-number">{{defecttext}}</span></h2>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="widget-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <i class="fa fa-caret-up rel-change"></i>  Nome: {{filename}}   -  Resultado: {{scanallresult}}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <h2 class="col-sm-4 control-label"><strong>Arquivo</strong></h2>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-1 control-label">Tipo</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">{{scanresult.FileTypeDescription}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-1 control-label">Volume</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">{{filesize}} KB</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-1 control-label">MD5</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">{{scanresult.MD5}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-1 control-label">SHA1</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">{{scanresult.Sha1}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-1 control-label">SHA256</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">{{scanresult.Sha256}}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                <button type="button" class="btn btn-primary pull-right" ng-click="Cancel()">Voltar</button>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong></strong></h2>
                    <div class="additional-btn">
                        <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="data-table-toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <form role="form">
                                    <input type="text" class="form-control" placeholder="Busca..." ng-model="SearchValue">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="datatables-1" class="table table-striped" aa-search="SearchValue" paging-table aa-data="listscanresultdetail"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /inner content wrapper -->
<!-- /content wrapper -->
<a class="exit-offscreen"></a>
<!-- /main content -->
