﻿<style>
    div.dataTables_filter label {
        font-weight: normal;
        float: left;
    }

    #datatables-1_filter {
        display: none;
    }
</style>
<!-- content wrapper -->
<div class="content">
    <div class="page-heading">
        <h1><i class="glyphicon glyphicon-floppy-save"></i>  Novo Vul</h1>
    </div>
    <!-- inner content wrapper -->
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong>Resultados</strong></h2>
                    <div class="additional-btn">
                        <a href="javascript:void()" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    </div>
                </div>
                <div class="widget-content">
                    <div class="data-table-toolbar">
                        <div class="row">
                            <div class="col-md-4">
                                <form role="form">
                                    <input type="text" class="form-control" placeholder="Busca..." ng-model="SearchValue">
                                </form>
                            </div>
                            <div class="toolbar-btn-action">
                                <a class="btn btn-success" ng-click="add()" ng-show="ServiceHeartBeat"><i class="fa fa-plus-circle"></i> Novo</a>   
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="datatables-1" class="table table-hover table-striped dataTable no-footer" aa-search="SearchValue" cellspacing="0" width="100%" id="tblImagechecker" aa-data="vullist" aa-paging="true" paging-table></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /inner content wrapper -->
<!-- /content wrapper -->
<a class="exit-offscreen"></a>